[2009-12-01 20:01] npinto opened #1 "Hadoop"
Would it be possible to have Hadoop installed on a StarCluster ? Something like what Cloudera has would be wonderful ;-)

Thanks in advance.

Nicolas

[2009-12-01 20:02] npinto opened #2 "couchdb"
Would it be possible to get couchdb-0.10.X installed on the server node and a ssh tunnel on each node (ssh -f -N -L 5984:localhost:5984 master) ?

Thanks in advance.

Nicolas

[2009-12-01 20:03] npinto commented on #2
Here is a (non-fully tested) way of installing couchdb 0.10 on Ubuntu 9.10:

# some preparation

sudo apt-get install build-essential erlang

export PREFIX=/usr
mkdir -p $HOME/src && cd $HOME/src

# spidermonkey js

wget http://ftp.mozilla.org/pub/mozilla.org/js/js-1.8.0-rc1.tar.gz
tar zxf js-1.8.0-rc1.tar.gz
cd js/src
make BUILD_OPT=1 -f Makefile.ref
sudo mkdir -p $PREFIX/include/js
sudo mkdir -p

[2009-12-13 17:45] npinto opened #3 "tmux "control" of the nodes"
It would be nice to have a "tmux control center" of all the nodes started.

Thanks!

-- Nicolas

[2010-02-16 02:42] npinto opened #4 "Bug: qlogin acts weird on master node"
executing 'qlogin' on the master node makes it "flicker" on my machine with the following error message:
"id: cannot find name for group ID 20000"

[2010-03-13 04:13] dicarlolab opened #5 "Feature request: spot instance"
Support for spot instances.

[2010-05-14 14:52] jtriley commented on #5
experimental spot instance support available

[2010-05-15 12:21] godber opened #6 "listclusters command could show configured clusters"
The listclusters command currently only shows running clusters, it could show both running and configured clusters so that there is an easy way to remember which clusternames you have defined when you go to launch a cluster.

In fact, the start command printout could show the user their list of configured clusters when explaining that a cluster tag is a required argument for starting a cluster.

T

[2010-05-15 12:31] godber commented on #6
the stop command could list running clusters when run without an argument.

[2010-06-15 03:45] jtriley commented on #4
this is not a serious issue and qlogin will still function normally.

[2010-06-15 03:45] #4 closed, assigned to nobody

[2010-06-15 03:45] jtriley commented on #1
yep, this will be included as a plugin

[2010-06-15 03:46] jtriley commented on #3
this will be added as a plugin

[2010-06-15 03:46] #5 closed, assigned to nobody

[2010-07-10 00:01] godber opened #7 "Unneeded line in cli.py #278"
I think line 278 of cli.py is unused.

http://github.com/jtriley/StarCluster/blob/master/starcluster/cli.py#L278

Austin

[2010-07-11 02:30] jtriley commented on #7
refactor use of inst.stop/terminate for boto2.0a2

add shutdown/terminate methods to node.Node class. in boto-2.0a2
instance.stop() now just puts EBS-backed instances into a 'stopped' state
rather than terminating an instance. 'terminate' has been moved to terminate
method in boto. added shutdown method to node.Node class that will 'stop' in the case
of EBS-backed instances and 'terminate' in the

[2010-07-11 02:30] #7 closed, assigned to nobody

[2010-08-12 22:45] godber opened #8 "Verify existence of keyfiles prior to AMI launch"
Apologies if this is fixed in git, but the paths to the keyfiles should be tested prior to the launch of an AMI.  I don't know if its tested prior to launch of a cluster, but I know that with createvolume on 0.91 it  does not.

Austin

[2010-08-23 15:23] jtriley commented on #8
Yes, the keyname/key_location settings are tested prior to launch of a cluster, however, you're right about the createvolume command.

[2010-08-23 15:27] jtriley commented on #8
fix bug with keyname loading in cluster.get_cluster

use explicit deps list in setup.py

add "stopped" to list of allowable states when looking for worker nodes
in a cluster. this allows 'seeing' stopped ebs nodes in the cluster's
security group

add ssh_to_node convenience method to Cluster class

tell user that there are lingering instances in the case of
shutdown_instance = False in VolumeCreat

[2010-08-23 15:27] #8 closed, assigned to nobody

[2010-11-16 17:45] treelinelabs opened #9 "Make starcluster AMIs that allow you to launch the new GPU instances"

[2010-11-16 19:02] jtriley commented on #9
this is in progress. basically just need to install nvidia drivers/cuda/pycuda/etc

[2010-12-14 18:29] jtriley commented on #9
made the ami, need to release new version so that starcluster can actually launch clusters of gpu/cluster compute types. 0.91.2 version is not compatible with new cluster compute/gpu types yet but github code _is_

[2010-12-16 17:32] apatil commented on #9
Would you be able to share the ami ID before the new release?

[2010-12-16 19:56] jtriley commented on #9
yes, enough folks are requesting it. going to give it one more run through and clean things up and then I'll make it public. hopefully tonight or tomorrow. i'll post the AMI here and to the starcluster/pycuda lists when it's ready.

[2010-12-20 20:32] nouiz opened #11 "GOTO blas now BSD"
I just learned that goto have been
released under BSD[1]. It is faster then ATLAS in many case[2]

So if you have time you could replace ATLAS for it.

[1]http://www.tacc.utexas.edu/tacc-projects/gotoblas2/
[2]http://dirk.eddelbuettel.com/blog/2010/09/15/#gcbd_0.2.2

p.s. I don't use starcluster for now, but when I have time, I will look more into it. So this is not a real feature request, but mor

[2010-12-21 02:09] jtriley commented on #9
Here it is folks: ami-12b6477b

This AMI contains the following GPU software in addition to the usual StarCluster stack:
- NVIDIA Driver 260.19.21
- NVIDIA Cuda Toolkit 3.2 (cublas, cufft, curand)
- PyCuda and PyOpenCL (recent git checkouts)
- MAGMA 1.0-rc2

This AMI is currently not compatible with StarCluster 0.91.2, however, if you just want to play around with the new GPU instances you're prob

[2010-12-21 02:14] jtriley commented on #11
Good to know, thanks for sharing. I just spent quite a bit of time getting the new GPU AMI out using ATLAS (see https://github.com/jtriley/StarCluster/issues#issue/9) so I'll probably wait on this. I'll give it a shot in my spare time and will consider replacing ATLAS with GOTO in the future if everything goes well.

[2010-12-21 15:30] jtriley commented on #11
just curious, have you tried linking numpy/scipy with gotoblas/lapack?

[2010-12-21 15:38] nouiz commented on #11
No,

But when I do, I will give you the receipe I received.

[2011-02-03 21:46] bmabey opened #12 "Progress Bar divide by zero error"
Hi,
I've been using the latest version of StarCluster from github (for the add/remove node commands).  I've ran into the following error several times when starting a cluster.  Based on the stacktrace the error appears to be in the new progress bar code and it not handling the case where the denominator may be 0 initially.

[code]

[2011-02-28 21:02] jtriley commented on #12
Thanks for reporting, I'm working on this now. ~jtriley

[2011-03-09 00:04] jtriley commented on #12
fix divide by 0 in wait_for_cluster progressbar

after waiting for spot requests, check that len(nodes) &gt; 0 before
waiting for nodes to become &#39;running&#39; in order to avoid a divide by
zero error when using the progressbar. this apparently happens because
StarCluster is some times too quick to query the nodes just after
requesting them. several users have reported this issue. this fix mak

[2011-03-09 00:04] #12 closed, assigned to nobody

[2011-03-09 00:08] #9 closed, assigned to nobody

[2011-03-24 20:38] bmabey opened #14 "listcluster command blows up when a cluster is being created"
When trying to bring up a large cluster I almost always have certain nodes that never come up or they do come up but never respond to SSH.  What than means is that Starcluster will wait indefinelty for the stragler while the other nodes sit idle:

[code]

I know you are aware of this, and so I'm not reporting this.  I'm reporting the fact that when I try to list my clusters when in this state it b

[2011-03-29 14:28] jtriley commented on #14
The error you get is because of old security groups/clusters that were either started with the current stable version or an earlier commit of the development code. The format i'm using to store cluster meta-data and node aliases has changed a bit in the github code which causes this error...sorry for this.

The easiest way to fix this error is to shutdown your current running clusters at your conv

[2011-03-29 14:28] #14 closed, assigned to nobody

[2011-03-29 14:29] jtriley opened #15 "add --ssh-status option to listclusters command"
From bmabey in another bug:

"I would like to be able to list the clusters and know which nodes are running and which ones are not so I can kill/restart the running nodes that are not responding to SSH, and/or resize my cluster. Right now my only way of finding the strangler node is to manually check each instance by trying to ssh into them."

Idea is to add --ssh-status option that would look som

[2011-04-06 03:44] jtriley commented on #1
There is now a plugin in the StarClusterPlugins project for hadoop:

http://github.com/jtriley/StarClusterPlugins

Currently you need the latest development version of StarCluster to use the plugin. There are three AMIs available with the cloudera hadoop packages installed:

32bit:
ami-1e4dbf77 us-east-1 starcluster-base-ubuntu-10.04-x86-hadoop-rc4-ebs (EBS)

64bit:
ami-8852a0e1 us-east-1 starclus

[2011-04-06 03:58] jtriley commented on #15
add --show-ssh-status option to listclusters cmd

passing --show-ssh-status will print out the current SSH status (up or
down) for each node in a cluster. this is useful if you have a lot of
nodes and SSH is failing on a select few. using this option will pin
point the exact nodes that have issues with SSH coming up. users can
then either handle them manually or use starcluster&#39;s restart comma

[2011-04-06 03:58] #15 closed, assigned to nobody

[2011-04-13 15:52] jtriley opened #16 "bug with listvolumes"
Traceback (most recent call last):
  File "/usr/local/lib/python2.6/dist-packages/StarCluster-0.9999-py2.6.egg/starcluster/cli.py", line 160, in main
    sc.execute(args)
  File "/usr/local/lib/python2.6/dist-packages/StarCluster-0.9999-py2.6.egg/starcluster/commands/listvolumes.py", line 41, in execute
    self.ec2.list_volumes(**self.options_dict)
  File "/usr/local/lib/python2.6/dist-packages/S

[2011-04-16 00:02] jtriley opened #17 "spot support for hpc (cluster/gpu) instance types"
you can now request spot instances for cluster/gpu types in us-east-1 (yea!)

[2011-04-16 00:24] #17 closed, assigned to nobody

[2011-04-19 04:16] jtriley opened #18 "add http proxy settings for boto to StarCluster config"
[from the SC mailing list]

It looks like boto supports it:
http://code.google.com/p/boto/wiki/BotoConfig

Proxy settings in ~/.boto, unsurprisingly, aren't used by starcluster. Would it be possible to add a [boto] or [proxy] block to the starcluster config that gets passed on to the boto connection?

[2011-04-19 05:07] jtriley opened #19 "release 0.92 version!"
Need to release 0.92 version ASAP. Stop adding features, update docs, implement error handling for clusters started from 0.91.2 and release!

[2011-04-28 15:09] #1 closed, assigned to nobody

[2011-05-20 17:55] jtriley opened #21 "add support for Amazon VPC"
Requested by Adam Kraut in the StarCluster mailing list:

http://mailman.mit.edu/pipermail/starcluster/2011-April/000706.html

[2011-05-20 17:57] jtriley commented on #19
added ability to warn about incompatible clusters/groups from older versions, working on newdocs branch now. once merged, time to release!

[2011-05-23 15:29] jtriley opened #22 "add ability to 'include' files in config"
Need the ability in the config to perform includes, e.g.:
## ~/.starcluster/config:

[code]
## ~/.starcluster/credentials.txt:

[code]

This would allow users to share common portions of the config and modularize credentials, templates, etc into separate files as necessary. Includes should also support including files from a web address.

[2011-06-08 08:36] srooks10 opened #25 "clarify EBS spot instances cannot be stopped"
EBS spot instances can only be terminated, not stopped. But the message when using the stop command is confusing for a newbie like me.
Could that be changed with a WARNING that the cluster will be terminated( when using spot instances)?
It would also be nice to add something about it in the documentation.

[2011-06-17 17:20] jtriley commented on #19
published release candidate (0.92rc1)

[2011-06-17 19:57] jtriley opened #26 "add deprecation notice about "createimage" command"

[2011-06-27 15:33] jtriley opened #27 "bug in 0.92rc1 setup.py breaks easy_install"
From Adam Marsh on the mailing list:

When I run the install routine for the 0.92rc1 version of SC, it aborts with the following error message:
ImportError: No module named starcluster

Full output from the command "sudo easy_install StarCluster":

$ sudo easy_install StarCluster
Searching for StarCluster
Reading http://pypi.python.org/simple/StarCluster/
Reading http://web.mit.edu/starcluster
Bes

[2011-06-27 16:47] jtriley commented on #27
previous commit didn't really fix it on pypi

[2011-06-27 17:58] #27 closed, assigned to nobody

[2011-06-29 16:50] jtriley opened #29 "use pygooglechart in place of matplotlib"
matplotlib is a fairly heavy dependency to have for producing simple line graphs. since you must be online anyway when using spothistory/loadbalance -p commands  it seems logical to use google charts instead which only requires the std python library and an internet connection.

an interesting idea for the spothistory/loadbalance -p commands is to launch a simple local static web server that serve

[2011-06-29 21:35] jtriley opened #30 "optional kwargs in a plugin's __init__ not working"
Reported by @minrk (thanks, moving this to a new issue so it's easier to follow)

Can plugins have optional init arguments?  One of my plugins build and installs pyzmq, but I would like users to be able to specify a url for an egg if they have one.  The logical model would be:

[code]

But that doesn't work.  Either it has to be a mandatory option in the config file (not a kwarg), or specifying it

[2011-06-29 21:39] jtriley commented on #30
@minrk: Yes, plugins _should_ be able to handle optional kwargs in a plugin's init. Good catch. I'm able to reproduce the issue and I've narrowed this down to a bug in starcluster.cluster.Cluster.load_plugins. I'll try to push a fix out some time tonight.

[2011-06-30 03:28] #30 closed, assigned to jtriley

[2011-06-30 03:29] jtriley commented on #30
@minrk: This should be fixed now. Let me know if you still have issues.

[2011-07-11 17:47] jtriley opened #31 "create new AMIs based on 11.10 alestic AMIs (EBS/instance-store)"
include the latest 0.12 IPython.parallel code and notebook

[2011-07-13 06:57] jtriley opened #32 "add new put/get commands that mimic scp"
Work in progress in feature branch: https://github.com/jtriley/StarCluster/tree/feature/putget

[2011-07-14 21:27] jtriley opened #33 "do not launch the master instance using spot instances by default"
When using -b option to launch a cluster with size >1 do not launch the master using a spot instance request; use a flat-rate request instead. If cluster size == 1 then this is OK given that it's only a single machine and no other machines have NFS shares mounted, etc. Probably need to also add an option to force master to be spot... (--spot-master?)

[2011-07-20 18:04] jtriley opened #34 "amazon attaches ebs vols to alternate device on HVM instances"
starcluster attaches EBS volumes to /dev/sd\* and expects the device to mountable via the /dev/sd\* address. With HVM instances the EBS volume devices show up as /dev/xvd\* instead. Need to also check for /dev/xvd\* whenever /dev/sd\* doesn't exist.

[2011-07-25 19:22] jtriley commented on #29
implemented a similar approach using a local web server, jinja2, and flot instead of pygooglechart

[2011-07-25 19:22] #29 closed, assigned to nobody

[2011-07-25 20:36] #25 closed, assigned to jtriley

[2011-07-26 03:05] jtriley commented on #32
merged feature/putget to develop. marked 'put' and 'get' as experimental features

[2011-07-26 03:05] #32 closed, assigned to jtriley

[2011-07-26 13:42] jtriley commented on #3
work in progress in feature branch: https://github.com/jtriley/StarCluster/tree/feature/tmux-plugin

[2011-07-26 13:44] jtriley commented on #11
@nouiz did you ever try linking numpy/scipy with gotoblas/lapack? I'm going to be creating new 11.04 AMIs soon and am curious if gotoblas is the way to go this time? No worries if not.

[2011-07-26 13:54] nouiz commented on #11
Hi,

Now there is openblas[1] that is one continuation of the BSD gotoblas. It include a few installation and code bug fix. So I would recommend this version.

To my knowledge there is no release file. You must checkout the git repo. There is tag for release, so just update to the last release tag to have it.

I have tried rapidly to use them, but failed... I think what you could try is to use a m

[2011-07-26 16:14] npinto commented on #3
Awesome! Thanks a ton Justin!

[2011-07-26 16:22] jtriley opened #35 "add %(asctime)s to DEBUG_FORMAT"

[2011-07-26 16:29] jtriley opened #36 "try/catch until successful when fetching user_data"
From the mailing list:

This is a tricky bug that's hard to debug and fix. The root cause is that StarCluster creates the instances and then immediately attempts to perform an operation that retrieves the instance's user_data (ec2-get-instance-attribute API call). In some cases EC2's infrastructure isn't quite 'ready' yet most for the call given that it's performed almost instantaneously by StarCl

[2011-07-27 19:21] #36 closed, assigned to nobody

[2011-07-28 20:54] jtriley commented on #3
btw, no need to append ^M character to commands sent via send-keys, just follow up with another send-keys command that simply sends "Enter". see the new tmux plugin: https://github.com/jtriley/StarCluster/blob/feature/tmux-plugin/starcluster/plugins/tmux.py

[2011-07-29 06:34] jtriley opened #37 "add attachvol command for attaching and NFS-sharing volumes from command line"
something like:

$ starcluster attachvol vol-blahblah mycluster /data

[2011-07-29 07:14] jtriley opened #38 "fix InvalidGroup.InUse error when deleting a security group on terminate"
% starcluster terminate flatmastertest2
StarCluster - (http://web.mit.edu/starcluster) (v. 0.9999)
Software Tools for Academics and Researchers (STAR)
Please submit bug reports to starcluster@mit.edu

Terminate cluster flatmastertest2 (y/n)? y

[2011-07-29 19:45] jtriley commented on #33
implemented this with "force master to be spot" option being --force-spot-master

[2011-07-29 19:45] #33 closed, assigned to nobody

[2011-07-29 19:52] jtriley commented on #21
@ank did you ever try this in your local fork? if you still need it I'll try to add this in or merge your changes...

[2011-07-29 21:46] #35 closed, assigned to jtriley

[2011-07-29 22:07] jtriley commented on #6
These are great ideas and sorry it's taken me forever to get around to responding. I'm game with updating the start/stop usage messages with available templates/running clusters respectively. Working on that now and will close this bug when it's done.

However, I think having listclusters show the available templates would be a bit overloaded but I do like the idea of having a quick way at looking

[2011-07-29 22:12] jtriley opened #39 "add new 'config' command for quickly viewing cfg settings"
Here's the proposed interface:

**List all config sections of a given type**:

[code]

[code]

**Show a given section or multiple sections**:

[code]

[code]

[2011-07-30 01:37] #6 closed, assigned to nobody

[2011-07-30 15:46] ank commented on #21
@jtriley I ended up not having time so it become lower priority. I imagine it'd be generally useful to have in starcluster and if you needed someone to test or debug I'd be happy to.

[2011-08-01 15:02] #38 closed, assigned to jtriley

[2011-08-01 15:59] jtriley commented on #34
actually this isn't true, I assumed this was the case just simply looking at a user's bug report on the mailing list:

http://mailman.mit.edu/pipermail/starcluster/2011-July/000752.html

Upon further investigation it turns out /dev/xvd\* is a symlink to /dev/sd*. The issue experienced is most likely related to StarCluster checking whether /dev/sd\* exists too quickly.

[2011-08-01 17:41] jtriley commented on #34
@srooks10 looks like you were using your new Ubuntu 11.04 HVM-AMI built from your new wiki guide (btw, thanks for contributing your guide!).

After looking a little deeper I found this on the ec2ubuntu google group:

http://groups.google.com/group/ec2ubuntu/browse_thread/thread/f10205927e884c58/f1d007503bdf9ecd

This seems to imply that /dev/xvd\* is now the standard device name for EBS and /dev/s

[2011-08-01 17:56] #34 closed, assigned to jtriley

[2011-08-01 17:57] jtriley commented on #34
@srooks10 this should be fixed, however, would you mind checking out the latest code (in the "develop" branch) and testing whether it works with your custom 11.04 HVM AMI and an EBS volume?

[2011-08-01 17:57] ank opened #40 "Update orte parallel environment on addnode command"
When starting a cluster, a parallel environment called orte is setup with the number of slots equal to the total number of cpu cores.  However, if a node is added, sge does not update the orte slots to reflect the added cores.  Is this a bug?

[2011-08-01 18:00] jtriley commented on #40
this is definitely a bug, thanks for reporting. I'll see if I can get a patch in soon....

[2011-08-02 01:59] #40 closed, assigned to nobody

[2011-08-02 06:08] #3 closed, assigned to nobody

[2011-08-02 19:04] jtriley commented on #26
closed by e8609f2090dabac79c03

[2011-08-02 19:04] #26 closed, assigned to nobody

[2011-08-02 19:06] jtriley commented on #2
This should probably be added to the StarClusterPlugins project. Are you still using couchdb or mongodb these days?

[2011-08-02 19:55] npinto commented on #2
I'm using mongo now ;-)

[2011-08-02 21:36] jtriley commented on #2
OK, I'm going to close this issue and open a new issue on StarClusterPlugins for a mongodb plugin. Does that work for you?

[2011-08-03 05:37] npinto commented on #2
Sounds good, thanks again!

[2011-08-03 15:24] #2 closed, assigned to nobody

[2011-08-03 18:08] jtriley commented on #16
should be fixed by better AWS exception handling via f46f8d4d68b05b630776

[2011-08-03 18:08] #16 closed, assigned to jtriley

[2011-08-04 14:03] srooks10 commented on #34
@jtriley I have tested the "develop" branch with my custom 11.04 HVM
AMI and an EBS volume and everything works fine. Thanks a lot.

On Mon, Aug 1, 2011 at 7:57 PM, jtriley
reply@reply.github.com
wrote:

[2011-08-04 20:22] delagoya opened #41 "cluster_user's home"
Feature Request:  configure the cluster_user's home on the ephemeral storage drive or an EBS volume

[2011-08-04 20:23] delagoya opened #42 "configure whether the master is an exec host or not"
Feature request: Configure whether the master is part of the exec host list or not. I for one do not want the master as an exec host, letting it concentrate on NFS duties

[2011-08-04 20:25] delagoya opened #43 "configure complex_list for master and exec hosts"
Specifically I wanted to add the exclusive directive to the complex_list.

[2011-08-04 20:26] delagoya opened #44 "add "share" command (originally: NFS share the ephemeral storage by default)"
Would be nice to NFS share the ephemeral drive of master host by defualt

[2011-08-04 20:40] jtriley commented on #34
@srooks10 great! glad it's working for you and thanks for testing

[2011-08-04 20:42] jtriley commented on #41
You can already configure the cluster_user's home on an EBS volume simply by setting an EBS volume's mount_path to /home:

[code]

I'll consider using the ephemeral storage for /home. The benefit is a larger /home directory but we need to think about what the potential drawbacks of this might be if any.

[2011-08-05 01:50] delagoya commented on #41
Good point about home on EBS, I didn't think about that one.

The home on root volume suffers from the same drawback as home on ephemeral, since the users will likely not configure snapshots of the OS EBS. It will go away once the master terminates.

One more issue that Deepak from AWS raised when I mentioned this on the twitter was that it is possible that an EBS instances do not have ephemeral s

[2011-08-05 01:51] delagoya commented on #43
best left for a plugin to do. Shall I close the issue?

[2011-08-05 04:01] jtriley commented on #41
Right, another issue is that ephemeral storage does not survive a stop/start cycle which would be tricky to communicate effectively to users. The more I think about this, since all you're going for anyway is disk space why not just use the scratch directory (/scratch/cluster_user) which is symlinked to /mnt/cluster_user on startup? This is _usually_ where ephemeral storage is mounted. If that isn'

[2011-08-05 04:20] jtriley commented on #43
I've been meaning to pull the SGE code out into a separate plugin that's included with StarCluster.

This would allow users to configure it separately (via it's own [plugin] section) where could add an option for complex_list, for example, as well as queues to configure, etc. It would also allow users to run plugins before SGE is configured or just completely disable SGE altogether.

In this case

[2011-08-05 04:22] jtriley commented on #42
For your immediate needs I'd recommend a plugin for this as well, however, as mentioned in issue #43, this would be a useful option for an SGE plugin if we decide to go that route.

[2011-08-05 04:30] jtriley commented on #44
I'm thinking of doing a more general solution which is a new command that would NFS-share a given directory on the master across all nodes in the cluster. Something like:

[code]

We could also add an option to change the name of the mount point on the nodes:

[code]

There could also be an option to the cluster templates that specifies a list of directories to NFS-share in the config on startup.

[2011-08-05 12:51] delagoya commented on #41
Didn't realize there was already a scratch user dir.

Agreed that this is plugin domain. I'm going to close this issue and investigate plugins.

[2011-08-05 12:51] #41 closed, assigned to nobody

[2011-08-05 12:53] delagoya commented on #44
sounds reasonable to me. I like the idea of configurable NFS shares. Would also need to tie that into the EBS volume definitions to make sure that NFS mount directives don't clash with EBS volume directives...

[2011-08-05 12:55] delagoya commented on #42
Yeah, as part of the SGE plugin would be nice.

[2011-08-05 13:02] delagoya commented on #43
SGE plugin would make sense if you wanted to configure more than one scheduler (Condor, TORQUE, etc). In this case I would put in an setting in cluster config called "queue_engine" which defaults to SGE.

But this seems like a change better left for a major revision number. For this version I think the SGE support is the reason folks come to starcluster in the first place. I know it was for me.

I

[2011-08-05 14:54] ank commented on #43
@delagoya, I just pushed a few plugins I find useful to save you little work. If you look at the 'extras' plugin it does some SGE config like setting the scheduler interval and adding the cluster user as the admin host. To remove the master as exec I think you could just add a 'qconf -de master' to my naive implementation.

https://github.com/bioteam/StarClusterPlugins

[2011-08-05 15:02] delagoya commented on #43
Thanks Adam, will take a look at those.

[2011-08-05 23:18] jtriley commented on #43
@ank excellent, thanks for forking StarClusterPlugins, this is precisely where I'm hoping to collect plugins from users. Eventually we should do a 0.1 release of StarClusterPlugins on pypi so that folks can install them easily. Feel free to submit a pull request whenever you're ready...

[2011-08-08 09:13] srooks10 opened #45 "ebsimage: unmount every non root volume before creating new AMI ?"
When using starcluster ebsimage on an EBS AMI (an Ubuntu 11.04 HVM AMI) with a mounted EBS backed volume, the mounted volume is also snapshot during the process. Furthermore when using the newly created AMI the EBS backed volume can not be mounted because the mount point is already in use.
(sorry for the lack of details, I am writing from memory)

workaround: temporarily remove the line beginning

[2011-08-08 13:54] jtriley commented on #45
Ultimately you're right but this is a tricky one because it's not always easy to cleanly unmount a device especially if it's currently in-use and NFS-shared. The ideal situation is not to use volumes in the first place when launching an _image host_ as you've mentioned. I'll have to think about how to handle this best. Perhaps ebsimage just warns or errors out when devices are attached and we add

[2011-08-08 18:00] jtriley opened #46 "ensure ephemeral storage is available by overriding block device mapping when running instances"
**From the StarCluster mailing list:**

I would like to use the instance storage (2x 840G disks) that comes
with the cluster compute instance type. This is again for an Ubuntu
11.04 hvm AMI.

The scratch space is not mounted on /mnt:
  root@master:/mnt/sgeadmin# df -h
  Filesystem            Size  Used Avail Use% Mounted on
  /dev/sda1             7.9G  4.0G  3.5G  54% /
  none                   1

[2011-08-08 18:01] jtriley commented on #46
Unfortunately this is not possible when creating a new HVM image using the ebsimage command. This is a limitation imposed by EC2's 'create-image' API call. The 'create-image' call does not support specifying a block device mapping that's different from the image host's block device mapping. This is why you don't see the ephemeral storage on your new 11.04 HVM image; the original alestic HVM didn't

[2011-08-08 21:08] brainfood opened #47 "Mounting two partitions from the same volume"
Hi jtriley,

I have an EBS volume with two partitions (both formatted). If I am mounting either alone, starcluster starts normally. However, when I try to mount both partitions together, I get the following error:

!!! ERROR - Multiple configurations for volume vol-####### specified.
!!! ERROR - Please choose one

In the starcluster config file the entries under EBS volumes for these two partition

[2011-08-08 21:33] jtriley commented on #47
Your second volume config _should_ be **[volume partition-2]** instead of **[volume partition-1]** but even with this fix you'll encounter another bug with the current code: starcluster will assume/automatically assign separate devices for each partition which is not correct. I'll try to get a fix for this soon.

[2011-08-08 21:35] brainfood commented on #47
Thanks for the response and for catching my typo in the post.

[2011-08-08 21:38] jtriley commented on #47
Now that I look at the code, you must have had the volume sections named properly in your config otherwise you wouldn't have received the error. In any event, I need to rework the auto-device-assigning logic in Cluster.load_volumes to handle this use case...

[2011-08-08 21:56] jtriley opened #48 "stop cmd: don't terminate spot EBS-backed clusters (force using terminate cmd instead)"
Force users to run terminate instead of stop in the case of spot EBS-backed clusters. right now the stop command will automatically terminate a spot EBS-backed cluster. this is overloaded and causes duplication of code...

[2011-08-09 14:02] jtriley commented on #46
The biggest issue I see with this is that the AMI's /etc/fstab has to be aware of what the block-device mapping is so that it can mount things properly on boot. I suppose StarCluster could fiddle /etc/fstab to handle its own mapping but that might be tricky and could possibly break a given AMI. This might be useful as an option/flag.

[2011-08-09 15:04] jtriley commented on #45
I think the new "Customizing the StarCluster AMI" docs will help a lot with this:

https://github.com/jtriley/StarCluster/blob/develop/docs/sphinx/manual/create_new_ami.rst

It describes how to simply create the images host and nothing else (e.g. attaching vols, configuring NFS, etc) which is what you want when you're creating a new AMI.

[2011-08-17 19:51] jtriley commented on #48
closed by 5affb651b38e90f2409f11be93d893ee004f3800

[2011-08-17 19:51] #48 closed, assigned to nobody

[2011-08-25 14:04] djwonk opened #49 "Failed easy_install on Mac OS X Snow Leopard"
I am trying to install StarCluster on Mac OS X Snow Leopard but I get this failure:

[code]

[2011-08-25 14:43] jtriley commented on #49
This is likely a problem with Xcode 4 and compiling pycrypto (see http://stackoverflow.com/questions/5944332/broken-pipe-error-when-using-pip-to-install-pycrypto-on-mac-os-x)

Try passing ARCHFLAGS='-arch i386 -arch x86_64' like this:

[code]

Let me know if that works for you. If it does I'll put a note in the docs for MacOSX w/ Xcode 4

[2011-08-25 19:30] djwonk commented on #49
Thanks, this worked! :)

[2011-08-25 19:30] #49 closed, assigned to nobody

[2011-09-19 04:50] jtriley opened #50 "merge min's ipython/ipcluster plugins"

[2011-09-19 04:51] jtriley opened #51 "add quickstart for parallel ipython plugins to docs"

[2011-09-19 06:18] #47 closed, assigned to nobody

[2011-09-19 09:04] ogrisel commented on #51
And also update the `IPython.parallel` tutorial & documentation to point to it.

[2011-10-03 16:08] npinto opened #52 "StarCluster AMIs are incompatible with t1.micro"
There seems to be an issue when trying t1.micro with StarCluster AMIs, e.g.:

[code]

FYI, the same error was experienced in CS264 (but no answer was given the student):
http://forum.cs264.org/index.php?topic=411.0

[2011-10-07 15:55] jtriley commented on #52
An EBS-backed AMI must be used with the t1.micro instance type. I'll push out public EBS AMIs in us-east zone soon...

[2011-10-10 01:18] npinto commented on #52
Awesome! Thanks @jtriley!

[2011-10-11 16:32] yina opened #53 "s3image hangs at "Bundling image file...""
Started up a cluster with command:
$ starcluster start -o -s 1 -i m1.small -n ami-8cf913e5 imagehost

Logged in with command:
$ starcluster sshmaster imagehost

Generate an AMI with s3image with command:
$ starcluster -d s3image i-XXXXXXX my-new-image <my-uniq-bucket>

stdout will get to "Bundling image file..." and then hang. When inspecting the master node, the ec2-bundle-vol process has ended a

[2011-10-12 16:06] yina commented on #53
Has anyone replicated this bug?

[2011-10-13 21:10] jtriley opened #54 "test from python"

[2011-10-13 21:23] #54 closed, assigned to nobody

[2011-10-13 21:30] jtriley commented on #53
@yina, sorry to hear you're having issues with the s3image command. have you tried running the same s3image command multiple times to see if a subsequent run succeeds? running the command again should clean-up old image files and try again.

also, i believe you're correct that the ec2-bundle-vol command has finished but just for drill how are you verifying this? I typically use "pgrep -lf ec2-bund

[2011-10-13 21:50] yina commented on #53
thanks justin. no worries. i just created an ebsimage and am working on that. thanks again for an excellent package, it is quite useful for the work I'm doing.

in regards to your questions:
- i've run the command about 10 times and it hangs at the same spot.
- i verified that the bundle command has stopped with ps-ef.  also the /mnt directory has all of the split up files and no further files are

[2011-10-13 21:59] jtriley commented on #53
@yina, glad to hear ebsimage is at least working for you in the mean time. I have an instance running now using the ami-8cf913e5 AMI and I'm testing the s3image command now:

[code]

Is this where you were hanging at? This is still running for me so I'll post an update if/when it finishes...

[2011-10-13 22:01] yina commented on #53
no it goes on to the next output of "Bundling image file..."

[2011-10-13 22:26] jtriley commented on #53
OK, it's at that point now and ec2-bundle-vol is still running. we'll see what happens...

[2011-10-13 22:50] jtriley commented on #53
Hmmm, OK it just finished for me no problems although I am using the latest dev version, however, that portion of the code hasn't really changed since 0.92rc2.

It took about 50 minutes all together and created ~251 part files. Keep in mind this is a clean instance that I used s3image on, I didn't install anything additional so it may take longer if you installed a ton of extra software.

[code]

[2011-10-14 12:49] yina commented on #53
thanks for testing the code out. I'll wait for the release and let you know whether it works. yin

[2011-10-17 18:06] yina commented on #53
Justin, I am closing this ticket. I was able to create an s3image using the s3image command. Not sure why it didn't work previously, but for now this is great. Thanks again for your help. Yin

[2011-10-17 18:06] #53 closed, assigned to nobody

[2011-10-17 19:48] jtriley commented on #53
OK, no problem, not sure what the issue was but glad it's working for you now. FYI the new 0.92 release is out:

http://pypi.python.org/pypi/StarCluster
http://web.mit.edu/stardev/cluster/downloads.html

[2011-10-17 20:07] jtriley commented on #19
published 0.92, closing

[2011-10-17 20:07] #19 closed, assigned to nobody

[2011-10-18 17:16] jtriley commented on #47
FYI this fix was released in the 0.92 version of StarCluster

[2011-10-25 05:58] jtriley commented on #22
I decided to implement this a bit differently. To split sections of the config out into multiple files, simply create the files, move the config sections to the appropriate files, and update the main StarCluster config's **[global]** section with a list of includes:

[code]

You can even include web addresses:

[code]

[2011-10-25 05:58] #22 closed, assigned to nobody

[2011-10-25 13:47] mza opened #55 "Specified configuration files are not used for: starcluster start"
Hello,

I've spotted a problem when starting a new cluster from the command line while specifying a configuration file. Starcluster doesn't use the specified configuration file. For example:

$ starcluster -c /user/other-location/config start clustername

or

$ starcluster --config=/user/other-location/config start clustername

Results in:

starcluster.exception.ConfigNotFound: config file /user/.

[2011-10-25 14:53] jtriley commented on #55
@mza thanks for reporting, I'm looking into this now

[2011-10-25 15:08] jtriley commented on #55
OK, I see the issue, it's because of the way I'm handling shell completion[1] when setting up the opts for the start command. This is why you don't see the issue with other commands. I'll fix this before I release 0.92.1 today.

[1] http://web.mit.edu/stardev/cluster/docs/latest/manual/shell_completion.html

[2011-10-25 15:09] mza commented on #55
Awesome - thanks!

Indeed, I fixed it in my own fork by removing the shell completion features.

[2011-10-25 15:12] jtriley commented on #55
Just leaving this open until I close with a commit...

[2011-10-26 07:06] #55 closed, assigned to nobody

[2011-11-07 04:31] jtriley commented on #55
@mza fyi this fix is included in the [latest 0.92.1 release](http://pypi.python.org/pypi/StarCluster/0.92.1).

[2011-12-08 14:10] seibert opened #60 "AttributeError when running createvolume"
When running starcluster createvolume, this traceback appears at the end, after the volume appears to have been created successfully:

**\* WARNING - There are still volume hosts running: i-0de6f06e
**\* WARNING - Run 'starcluster terminate volumecreator' to terminate _all_ volume host instances once they're no longer needed
Traceback (most recent call last):
  File "/Library/Python/2.7/site-packa

[2011-12-08 14:21] jtriley commented on #60
Thanks for reporting, this is a stupid bug that will be fixed momentarily. Should be just 'log' not 'self.log'....

[2011-12-08 14:21] #60 closed, assigned to nobody

[2011-12-08 22:58] jtriley commented on #50
Merged in commit c2e470688c

[2011-12-08 22:58] #50 closed, assigned to nobody

[2011-12-12 04:12] jtriley commented on #51
I've merged @minrk's ipcluster updates and also updated the ipcluster plugin docs which gives a quick guide on how to use the IPy cluster after the plugin has completed successfully. This will be included in the next 0.92.2 release along with a new set of AMIs containing IPython 0.11.

@minrk, could we link to StarCluster's ipcluster docs as a quick-and-easy-on-ec2 link from IPython's docs some wh

[2011-12-12 04:27] minrk commented on #51
Absolutely, I will make sure to do that.  Is there somewhere in particular I should point them, or just to the starcluster docs frontpage?

[2011-12-12 04:34] jtriley commented on #51
@minrk Awesome, thanks. We should link to:

http://web.mit.edu/starcluster/docs/latest/plugins/ipython.html

This page will be updated with the latest ipcluster docs once 0.92.2 and new 11.10 AMIs are released. You can see what's currently planned to be there now at:

https://github.com/jtriley/StarCluster/blob/develop/docs/sphinx/plugins/ipython.rst

Let me know if you have suggestions/feedback..

[2011-12-13 20:40] qubole opened #61 "s3image fails with exception BucketAlreadyOwnedByYou"
as described here. apparently only happens on some regions (in my case - the AP region). fix is pretty straightforward (just check if bucket exists before creating).

[2011-12-13 20:41] qubole commented on #61
sorry - missed the link: http://john.keyes.ie/boto-create_bucket-bucketalreadyownedbyyou-error/

[2011-12-16 16:55] #61 closed, assigned to nobody

[2011-12-17 06:52] jtriley commented on #31
11.10 AMis are now ready, just need to tidy up the code/docs and release 0.92.2!

[2011-12-17 06:54] jtriley commented on #31
Also, the 11.10 AMIs are available in **all** EC2 regions including the just-announced sa-east-1 region in Brazil

[2011-12-30 11:25] qubole opened #62 "addnode with spot pricing requests wrong number of instances"
it's N^2 instances :-).

[2011-12-30 11:26] qubole commented on #62
reason is:

kwargs = dict(price=spot_bid, instance_type=instance_type,
                      min_count=count, max_count=count, count=count,
                      key_name=self.keyname, security_groups=[cluster_sg],
                      availability_zone_group=cluster_sg,
                      launch_group=cluster_sg, placement=zone or self.zone,
                      user_data='|'.join(aliases),

[2011-12-30 22:45] jtriley commented on #62
@qubole Thanks for reporting. I'm working on a patch now. If you could test after I close this bug with a commit that'd be great.

[2011-12-31 00:26] #62 closed, assigned to nobody

[2012-01-03 02:50] #18 closed, assigned to nobody

[2012-01-03 16:44] jtriley opened #63 "need to try/catch pwd and grp imports to support Windows"
From the mailing list:

I naively installed on Windows using Windows Python 2.7 and things almost work. In one place, there are a couple of imports that are not on Windows (“pwd” and “grp”) but it seems StarCluster is very close to supporting Windows.

I suspect everything might work under Cygwin, but for reasons I don’t want to go into, I really don’t want to use Cygwin.

I’m more than willing to

[2012-01-03 16:46] jtriley commented on #63
Fortunately StarCluster's use of the pwd/grp modules is very light in the sense that it mostly just uses simple data structures from these modules that could easily be mocked in the case that a try/catch on importing pwd/grp failed.

Ideally the sshmaster/sshnode commands would also be updated to support using PuTTY on Windows, however, StarCluster does come with it's own built-in SSH shell if it

[2012-01-03 21:07] #63 closed, assigned to nobody

[2012-01-04 14:57] jtriley commented on #52
Done, latest AMIs are out. Use 'starcluster listpublic' in any AWS region to find the new EBS-backed Ubuntu 11.10-based StarCluster AMIs (including new HVM w/ GPU tools)

[2012-01-04 14:57] #52 closed, assigned to nobody

[2012-01-04 15:00] jtriley commented on #51
@minrk I've released StarCluster 0.93 (decided to skip 0.92.2 since there's enough new stuff). Could we put a link to the IPython plugin doc (http://web.mit.edu/starcluster/docs/latest/plugins/ipython.html) somewhere in IPython's docs and/or website? BTW the new plugin includes notebook support which is _really_ cool and new 11.10 AMIs have latest 0.12 release...

[2012-01-04 15:00] #51 closed, assigned to nobody

[2012-01-04 15:01] jtriley commented on #31
Released 0.93 last night including the new 11.10 EBS AMIs

[2012-01-04 15:01] #31 closed, assigned to nobody

[2012-01-04 18:04] minrk commented on #51
Awesome!  IPython docs do [mention starcluster](http://ipython.org/ipython-doc/dev/parallel/parallel_process.html#ipython-on-ec2-with-starcluster).

[2012-01-04 18:06] jtriley commented on #51
@minrk Fantastic, thanks for your help and for contributing the updates to the ipcluster plugin!

[2012-01-11 01:18] rayrayson commented on #21
I modified the code and just started a few nodes inside my VPC - however, I still need to create the routing table & gateway (the setup procedure for those should be independent of StarCluster, as most likely it would involve the local IT department) in order to fully test the setup.

[2012-01-11 05:17] jtriley commented on #21
@rayrayson That's great, looking forward to the updates. I'll have to read up on Amazon VPC and play around - haven't experimented with it yet. I agree that the routing table, gateway, etc setup should probably be configured independent of StarCluster given that it's fairly involved and probably outside the scope of StarCluster. That being said if there are simple VPC-related things that we can do

[2012-01-11 15:50] ank commented on #21
@rayrayson Awesome! This is very high on my wish list. Let me know if you need extra resources for implementation/test/docs.

[2012-01-11 22:48] jtriley opened #65 "issue in SGE loadbalance command"
http://mailman.mit.edu/pipermail/starcluster/2012-January/000974.html

[2012-01-18 03:21] rayrayson commented on #65
In the log file:

2012-01-17 22:45:35,668 PID: 9177 ssh.py:531 - ERROR - command 'source /etc/profile && qhost -xml' failed with status 1
2012-01-17 22:45:35,669 PID: 9177 ssh.py:536 - DEBUG - error: failed receiving gdi request response for mid=1 (got syncron message receive timeout error).

So qhost -xml exits with 1, and the error message is "error: failed receiving gdi request response for mid

[2012-01-18 14:59] jtriley commented on #65
Excellent, thanks for the tips. I'll try to come up with a patch in the next day or two if you don't beat me to it :D

[2012-01-25 22:27] npinto opened #67 "failed to load the NVIDIA kernel module on "starcluster-base-centos-5.4-x86_64-ebs-hvm-gpu-rc2 (ami-12b6477b)""
Running `nvidia-smi`

returns:

[code]

Is this expected ? I'll go ahead and try the "starcluster-base-centos-5.4-x86_64-ebs-hvm-gpu-hadoop-rc2 (ami-06a75a6f)" (the Ubuntu one works fine).

[2012-01-25 22:27] npinto opened #68 "failed to load the NVIDIA kernel module on "starcluster-base-centos-5.4-x86_64-ebs-hvm-gpu-rc2 (ami-12b6477b)""
Running `nvidia-smi`

returns:

[code]

Is this expected ? I'll go ahead and try the "starcluster-base-centos-5.4-x86_64-ebs-hvm-gpu-hadoop-rc2 (ami-06a75a6f)" (the Ubuntu one works fine).

[2012-01-25 22:31] npinto commented on #68
I'm getting the same error with "starcluster-base-centos-5.4-x86_64-ebs-hvm-gpu-hadoop-rc2 (ami-06a75a6f)".

I forgot to mention that I'm just launching the AMI with ec2 tools, not starcluster. Does this mean that I have to let starcluster "cook" the node to be able to use the GPUs ?

Let me see...

[2012-01-25 22:43] npinto commented on #67
Answer: it is actually expected if you don't let starcluster "cook" the node for you (i.e. just launching the AMI from the console or the ec2 tools). Closing the issue.

[2012-01-25 22:43] #67 closed, assigned to nobody

[2012-01-29 17:00] jtriley commented on #68
Have you tried using the latest Ubuntu 11.10 HVM AMI (ami-4583572c) ?

[2012-01-29 17:07] npinto commented on #68
Yup! Got the same issue there. I just need to remind myself to launch a cluster of one node to actually get the AMI to work properly (a little overkill but that's ok).

[2012-01-29 18:22] jtriley commented on #67
Hmmm that's odd, StarCluster doesn't do anything special for GPU AMIs. I'm testing this now outside of StarCluster to see if I can reproduce the issue.

[2012-01-29 23:39] jtriley commented on #68
OK I just launched a single instance of the StarCluster Ubuntu 11.10 HVM AMI (ami-4583572c) using:

[code]

The `-o` option tells starcluster to simply launch the instance and exit. After the instance was up I immediately logged in and tried `nvidia-smi` which seemed to work fine:

[code]

[2012-01-29 23:44] jtriley commented on #68
I just noticed you said "ubuntu one works fine" in your original post. Is there a reason you need the CentOS AMIs? Ideally I'd like to get rid of the CentOS-based AMIs - I do not plan on creating updated versions of these AMIs in the future. Using CentOS was just to get around the initial limitations of HVM AMIs...

[2012-01-30 13:20] npinto commented on #68
Yes, we wanted to benchmark some code that Dan has been running on the old AMI against the new one. Since the new one has a much more recent software stack (CUDA 4.0, 290.x drivers, etc.) we thought we would get better performance with the Ubuntu one (the performance was terrible on CentOS).

I was also interested in getting my gentoo prefix boostrap going on both AMIs ;-)

[2012-01-30 13:21] npinto commented on #68
Have you tried both AMIs w/o starcluster (just aws console or tools) ?

[2012-01-30 18:15] jtriley commented on #68
OK, I just tested launching both the CentOS and Ubuntu HVM AMIs manually using the AWS web console and they both work. At this point I'm guessing you might have accidentally chosen cc1.4xlarge instead of **cg1.4xlarge** when launching the instances? This is the only thing I can think of that would produce the kernel module error given that the GPU device would not be available on anything but cg1.

[2012-01-30 18:53] npinto commented on #68
There must have been a mistake on my side. Closing the issue. Thanks for your time Justin!

[2012-01-30 18:53] #68 closed, assigned to nobody

[2012-02-02 20:42] dmachi opened #69 "Load balancer slot calculations"
The calculations for the # of slots available is based on the number of cpus on a node instead of getting slots from sge.  This makes the cluster thing there are more slots than actually exist (or can anyway), and doesn't spawn new nodes accordingly.  Additionally, the node addition check looks to see if the #of queued jobs > total number of slots.  This should be #slots requested by the queued jo

[2012-02-05 20:26] dmachi opened #71 "SGEPlugin Branch Review"
This isn't so much a ticket as it is documentation/message passing.  Via IRC, jtriley and I discussed the SGEplugin branch  and he asked for a peer review/test of that code.  There is no actual work to be done here unless this ticket is converted into "merge SGEPlugin branch into develop/master branches"

I've done a review and testing of the SGEPlugin branch.  It is working well for me, not withs

[2012-02-05 20:33] dmachi opened #72 "Simplified Plugin Declarations"
For many simple plugins, nothing more than the class name is ultimately required and/or the tunable parameters are defaulted to something reasonable.  In many cases, no declaration should be required.   However, one of the flexible pieces of starcluster is that it can use plugins anywhere on the python path.  It wouldn't be great to search that whole path for any applicable plugins, so the current

[2012-02-05 20:45] dmachi opened #73 "command plugins"
Allow commands to be defined in plugins.  A simple approach leveraging the current command line system might be to modify the runplugin command to look like this:

[code]

Note that this specifically leaves the cluster id out of the defined runplugin method, allowing plugins to potentially run independently of any cluster (or on multiple clusters).  The easier step for now is probably:

[code]

In

[2012-02-07 16:14] dmachi opened #75 "load balancer node removal"
When the loadbalancer evaluates whether to remove nodes, it does an initial check to see if the current node count is greater than the minimal node count.  If not, no nodes are removed.  However, if this check passes, and the balancer finds more than 1 node to remove, it will remove them all even if this brings us below the min_nodes for the cluster.  Note that this case only occurs if multiple no

[2012-02-08 20:27] jtriley opened #77 "keypair validation should check that the file is readable"
http://mailman.mit.edu/pipermail/starcluster/2012-February/001018.html

---------- CRASH DETAILS ----------
COMMAND: starcluster start toto
2012-02-06 16:19:27,430 PID: 13952 config.py:551 - DEBUG - Loading config
2012-02-06 16:19:27,431 PID: 13952 config.py:118 - DEBUG - Loading file: /exports/mpiuser/.starcluster/config
2012-02-06 16:19:27,431 PID: 13952 config.py:118 - DEBUG - Loading file: /ex

[2012-02-08 20:32] jtriley opened #78 "start command crashes when using -x option"
http://mailman.mit.edu/pipermail/starcluster/2012-February/001019.html

---------- CRASH DETAILS ----------
COMMAND: starcluster start -x test-meep
2012-02-06 16:54:07,005 PID: 14319 config.py:551 - DEBUG - Loading config
2012-02-06 16:54:07,005 PID: 14319 config.py:118 - DEBUG - Loading file: /exports/mpiuser/.starcluster/config
2012-02-06 16:54:07,006 PID: 14319 config.py:118 - DEBUG - Loading f

[2012-02-08 20:39] jtriley commented on #78
looks like this only occurs when the cluster has been expanded using the addnode command, fix coming up...

[2012-02-09 06:08] #77 closed, assigned to nobody

[2012-02-09 06:08] #78 closed, assigned to nobody

[2012-02-16 16:04] jtriley opened #79 "feature: allow specifying larger rootfs at launch for EBS AMIs"
Idea came after a discussion with dmachi on #starcluster on IRC. Basically need to implement this functionality when starcluster launches nodes with an EBS-backed AMI:

[code]

[2012-02-19 21:06] jtriley commented on #71
Just for the record the sge-plugin branch has been merged and will be released in 0.93.2. That'd be great if you could branch from develop and start adding additional functionality to the new SGE plugin to customize the SGE install as mentioned in other issues. I agree that disable_queue should eventually go away and I think it's getting close to being ready we just need to ease users into it give

[2012-02-19 21:08] jtriley commented on #65
Working on this now, will close with a commit.

[2012-02-22 18:18] #65 closed, assigned to nobody

[2012-02-22 18:49] jtriley opened #80 "unhandled EOFError when using Ctrl-D at raw_input prompt"
From the mailing list: http://mailman.mit.edu/pipermail/starcluster/2012-February/001038.html

---------- CRASH DETAILS ----------
COMMAND: starcluster terminate devpbyko3f2ww8qa0fb2g15pti55_exp
2012-02-21 18:30:14,089 PID: 4314 config.py:551 - DEBUG - Loading config
2012-02-21 18:30:14,089 PID: 4314 config.py:118 - DEBUG - Loading file: ~/.starcluster/config
2012-02-21 18:30:14,091 PID: 4314 awsu

[2012-02-22 18:50] #80 closed, assigned to nobody

[2012-02-23 18:23] delagoya commented on #46
Instance block device mapping on boot of EBS backed images are independent of the AMI. See here for some information on it:

http://ubuntu-smoser.blogspot.com/2011/02/getting-ephemeral-devices-on-ebs-images.html

Boto has support for mounting the ephemeral storage via device block mappings. It should be fairly straight forward to add this into `starcluster.awsutils`. I'll give it a whirl now and r

[2012-02-23 19:56] jtriley commented on #46
@delagoya Yep, I have a method that will build a boto block device mapping that requests _all_ possible ephemeral drives for any instance type (see EasyEC2.create_root_block_device_map). This method is used in StarCluster when registering new EBS AMIs. You should be able to fetch the block device map using that method, then delete the '/dev/sda1' entry from the map (not needed when launching insta

[2012-02-23 20:01] jtriley commented on #11
Last time I experimented with this ages ago it did not go well. I have not tried the new OpenBLAS and do not plan to given that Ubuntu now makes it easy to recompile atlas for optimizations and create a nice deb from it. Not to mention that ATLAS actually works and is tested with NumPy/SciPy.  Closing unless someone else tries it, tests it, and can confirm this is worthwhile doing.

[2012-02-23 21:23] delagoya commented on #46
Yes I saw the `create_root_block_device_map()` method. I opted to add instance type specific device mappings to static.py though.

I was going to write a plugin that mounts and formats the volumes as one large RAID on the exec nodes for local scratch space. I find that in the IO intensive analysis I do tend to bring the master NFS to its knees.

You can see my changes here: https://github.com/dela

[2012-02-23 22:34] jtriley commented on #46
@delagoya Thanks for your contributions. I really don't believe the instance type device mapping is necessary given that any instance type that doesn't support _all_ ephemeral drives will only use what it has available. Also I prefer to keep from putting boto code in the static module - static is meant to be simple data structures and it also should only import things from Python's stdlib. A bette

[2012-02-23 23:17] jtriley opened #81 "add -X option to ssh* commands to forward X11"
From the mailing list:

http://mailman.mit.edu/pipermail/starcluster/2012-February/001046.html

This option should pass -X to the underlying SSH comand. Need to test that this works and also investigate using paramiko to do the X11 forwarding on Windows.

[2012-02-23 23:46] jtriley opened #82 "document using 'restart' command in 'cluster exists' errors"

[2012-02-23 23:51] jtriley opened #83 "put/get should retry 5x before failing due to socket errors"
from the mailing list:

http://mailman.mit.edu/pipermail/starcluster/2012-February/001056.html

[2012-02-24 03:30] delagoya commented on #46
I agree WRT `static.py`, will switch it to how you suggested previously and send in a pull request tomorrow.

You may also look at the plugin I just made to tweak grid engine to enable h_vmem usage, and to set the number of slots on the master to less than the processors. As I mentioned, my analyses tend to hammer NFS. and I have seen load go to 200% even when only having half the slots. https://g

[2012-02-24 21:35] jtriley opened #84 "source /etc/profile when executing remote commands with sshmaster/sshnode"
By default the ssh\* commands do not source /etc/profile which is needed to configure SGE environment and other things defined in /etc/profile.d

These commands should be updated to pass source_profile=True when running SSHClient.execute

[2012-02-25 04:04] jtriley opened #85 "textwrap in 2.5 does not support break_on_hyphens kwarg"

[2012-02-25 04:20] jtriley commented on #85
closed by 55ac953

[2012-02-25 04:20] #85 closed, assigned to nobody

[2012-02-25 04:31] jtriley commented on #43
@delagoya @ank the SGE setup code has now been moved to a new SGE plugin in the develop branch (see starcluster/plugins/sge.py) in case you're interested in adding new settings (via **init** kwargs) to customize the SGE install/configuration. Currently users will need to specify disable_queue=True in their config given that SGE is a default for now and then define the SGE plugin and specify it in

[2012-02-28 16:43] #82 closed, assigned to nobody

[2012-02-28 17:20] #84 closed, assigned to nobody

[2012-02-29 12:19] qubole commented on #46
create_root_block_device_map is very useful. is there any particular reason why it's only used in create_image_from_instance_store? (i would like to use it in regular ebs instance creation as well).

(this is for hadoop type stuff - where the image is ebs - but ephemeral disks are used by hadoop. ebs images are just way faster to create and also boot faster than instance store ones).

[2012-02-29 17:28] #81 closed, assigned to nobody

[2012-02-29 17:34] jtriley commented on #46
@qubole Currently the EBS image creation code uses the extremely simple CreateImage API call which does all the magic for you behind the scenes. While this simplifies the code it doesn't allow customizations of the resulting AMI's settings - it simply adopts the settings of the AMI used by the image host. StarCluster should probably move away from the CreateImage API call and handle the EBS image

[2012-02-29 17:37] jtriley commented on #46
@delagoya Your GridEngine tweaks plugin looks good. I recently moved all SGE-related setup code to a 'new' SGE plugin:

https://github.com/jtriley/StarCluster/blob/develop/starcluster/plugins/sge.py

Would you be interested in merging it with the StarCluster SGE plugin?

[2012-02-29 17:44] delagoya commented on #46
yes, planning on it later today. Still need to offer it as a plugin temporarily until next SC release. When or how often do you usually tag an official release?

[2012-03-01 21:09] jtriley opened #86 "loadbalance -K is broken"
The loadbalance command attempts to run Cluster.remove_node on 'master' node when -K is used - this raises an exception. Instead we need to determine when all worker nodes have been terminated and only the idle master is left - then terminate the cluster entirely.

This option should also probably be renamed to --kill-cluster to be clearer

[2012-03-02 06:23] #75 closed, assigned to nobody

[2012-03-02 06:23] #86 closed, assigned to nobody

[2012-03-05 08:53] ttrifonov opened #87 "SFTPError: Garbage packet received"
---------- CRASH DETAILS ----------
COMMAND: starcluster start mycluster
2012-03-05 08:29:27,881 PID: 31369 config.py:551 - DEBUG - Loading config
2012-03-05 08:29:27,883 PID: 31369 config.py:118 - DEBUG - Loading file: /home/ec2-user/.starcluster/config
2012-03-05 08:29:27,885 PID: 31369 awsutils.py:54 - DEBUG - creating self._conn w/ connection_authenticator kwargs = {'proxy_user': None, 'proxy_

[2012-03-05 09:52] #87 closed, assigned to nobody

[2012-03-05 18:41] jtriley commented on #87
@ttrifonov I'm sure by now you've discovered that you need to use one of the StarCluster AMIs from the output of "starcluster listpublic". Just wanted to let you know that I've improved the error handling for this in the latest github code so that users don't get such a cryptic error and are instead instructed to change AMI. Thanks for reporting.

[2012-03-09 19:12] jbheman opened #88 "can't use m1.small for 64bit ami - although amazon allows it"
$ starcluster start c
StarCluster - (http://web.mit.edu/starcluster) (v. 0.9999)
Software Tools for Academics and Researchers (STAR)
Please submit bug reports to starcluster@mit.edu

must be hard-coded?

[2012-03-09 19:30] jtriley commented on #88
@jbheman This was fixed yesterday and included in the latest stable 0.93.2 release. It appears you're using a git checkout of StarCluster (indicated by version 0.9999). Could you try pulling the latest changes and see if that helps? Here's my quick test using the latest github code (which currently matches the latest stable release):

[code]

[2012-03-09 22:58] jtriley opened #89 "bug in SGEPlugin usage within cluster.py - makes master_is_exec_host always False"
From http://mailman.mit.edu/pipermail/starcluster/2012-March/001109.html

Setup a cluster today (0.93.2) and suddenly noticed that the 'master' node was
not being reported in a "qstat -f" command and was not accepting run jobs from
the queue . . . i.e., with 12 nodes x 8 cpus each (96), when 96 jobs are
submitted, only 88 run (nodes 1-11) while 8 remain in the queue waiting.

I tried restarting th

[2012-03-09 23:05] #89 closed, assigned to nobody

[2012-03-10 21:51] jbheman commented on #88
stellar!

thanks, j

On Mar 9, 2012, at 2:30 PM, Justin Riley wrote:

[2012-03-12 00:07] jvimal opened #90 "start cluster fails with TypeError"
I get this crash dump when I try to start a new cluster using a new cluster template...   It looks like the "self.refresh_interval" somehow becomes none.  Not sure why!

[code]

[2012-03-12 15:07] #88 closed, assigned to nobody

[2012-03-12 15:08] jtriley commented on #90
@jvimal Looks like you're using the development version. When was the last time you pulled the latest changes from git?

[2012-03-12 18:45] jvimal commented on #90
@jtriley: March 9th.  My HEAD is 58baea8d366481c705429ef3317a3fc5a31e2b5b.

[2012-03-13 03:46] jtriley commented on #90
@jvimal Hmmmm, I'm unable to reproduce this just starting a cluster using:

[code]

If you can, please provide the following:
1. The exact command you're using. This is printed at the very top of the crash report (prefixed with "COMMAND:")
2. A minimal config that produces the error. Remember to remove all private data from the config before posting!

This will help me track down the issue faster.

[2012-03-14 05:20] jvimal commented on #90
@jtriley: Sorry, here is the complete command:

`$ starcluster start s0 -s 2 -c small`

The config file is:

[code]

[2012-03-14 16:24] jtriley opened #91 "configuring a 'permission' for SSH breaks SSH access"
From the StarCluster mailing list:

http://mailman.mit.edu/pipermail/starcluster/2012-March/001115.html

I was using starcluster start to start an EBS AMI, and everything seemed to be working fine -- it would start up & I would be able to ssh into it with 'sshmaster'.

Then I wanted to add https to the security group permissions on startup, so I modified my '[cluster smallcluster]' config settings

[2012-03-14 20:02] #91 closed, assigned to nobody

[2012-03-15 04:07] jtriley commented on #90
I can't reproduce this using the exact config you posted and substituting the relevant settings. I was able to start a cluster no problem (see output below). Also, a couple notes on your config:
1. `cluster_user` should never be 'root' (this is why the useradd/groupadd commands fail in the output below) - I'm going to update the validation to raise an error before launching the cluster when `clust

[2012-03-15 16:12] jtriley commented on #90
@jvimal Just for drill would you mind installing the latest stable version using easy_install/pip and see if the bug still exists? Also if you installed from github using "python setup.py install" you need to re-run that every time you "pull" updates - please try this too if you haven't already.

[2012-03-15 16:35] jvimal commented on #90
@jtriley: Thanks, I changed the config to use correct AMI and username.  I am fine with Ubuntu; I just wanted a Debian based distro! :)

Btw, I pulled and installed develop again, and I encountered the same bug.   I also encountered it with the stable branch installed with easy_install.   I made this change and things worked.  (cluster started, and I am able to ssh to the nodes)

I am running on M

[2012-03-15 18:06] jtriley commented on #90
@jvimal I'm also on OSX 10.6 but using 2.7 - building a virtualenv now for 2.6 to see how it goes. Glad the patch works but there's an underlying bug somewhere up the chain that needs to be fixed. Are you on IRC by chance? I'm on #starcluster on freenode if you'd like to debug in real time.

[2012-03-15 22:04] jtriley opened #92 "cluster_user should never be 'root'"
need to check for this in cluster validation

[2012-03-16 02:20] jtriley commented on #90
I wonder if manually specifying the refresh interval works? Try this without
your patch:

[code]

[2012-03-16 14:24] jtriley commented on #90
#starcluster irc ftw!

We discovered this happens when `[global]` section isn't defined in the config due to a bug in starcluster/commands/start.py. I wasn't removing my old [global] section when creating a 'minimal' config which is why I wasn't able to reproduce this :/ Fix coming soon.

[2012-03-16 16:07] #90 closed, assigned to nobody

[2012-03-16 16:21] #92 closed, assigned to nobody

[2012-03-16 16:25] jvimal opened #93 "runplugin fails if already logged into node"
If I am already logged into a node, runplugin fails with the following error.  Otherwise, it runs successfully.

[code]

[2012-03-16 17:35] jtriley commented on #93
Sorry I'm not following you. What do you mean exactly by already logged into a node? Also can you please share the exact command you're using? As the error says this usually happens when you're using an AMI that does not permit root logins. What AMI are you using?

[2012-03-16 17:39] jtriley commented on #42
This is now an option in the "new" SGE plugin:

http://web.mit.edu/star/cluster/docs/latest/plugins/sge.html#using-the-plugin

[2012-03-16 17:39] #42 closed, assigned to nobody

[2012-03-16 18:11] jvimal commented on #93
Here is the sequence of steps to reproduce the above issue.   I am using ami-c6bd30f6 on m1.small instance.
1. Start a cluster using default template:  starcluster start -s 4 cluster
2. Login to master node: starcluster sn cluster master
3. Create a plugin that runs a command (say ls) on all nodes.  (The standard example would do.)
4. Run the plugin: starcluster rp plugin cluster

In the above seq

[2012-03-16 18:48] jtriley commented on #93
Your steps above work no problem for me as they should. Are you able to _consistently_ reproduce this? Try just running steps 2 and 4 over and over on the same cluster. Does it happen every single time? Also, what is your plugin doing?

This error is only ever raised when a "garbage packet" is received when trying to connect to the instance over SSH/SFTP which almost always occurs because of cloud

[2012-03-16 20:26] jtriley opened #94 "verify ssh host keys with instance console output"
Thanks to @zstone for pointing me to this:

http://ubuntu-smoser.blogspot.com/2010/07/verify-ssh-keys-on-ec2-instances.html

Should be fairly easy to do this given that it's easy to get the host key
fingerprint from paramiko/ssh and the instance console output from boto. Issues
that need to be worked out/tested:
1. It seems the console output is only updated every 4 minutes so we need to
   test t

[2012-03-16 20:46] jtriley opened #95 "validate AWS SSL certificates with boto"
thanks to @zstone for bringing this up

It appears that boto does not validate SSL certificates by default, which may
mean that all of StarCluster's communications with AWS are vulnerable to
man-in-the-middle attacks.  (I'm not sure how common these attacks are in the
wild, but AWS is certainly a huge and high-value target, so it's possible that
they are common.) Fortunately, the Google Storage te

[2012-03-16 21:25] jtriley commented on #95
Just pushed boto-ssl-cert-validation branch that contains the necessary
patches:

https://github.com/jtriley/StarCluster/tree/boto-ssl-cert-validation

These patches enable https certificate validation by default in boto.
Users can disable this at their own risk by setting the following in their
config:

[code]

Needs testing to ensure it behaves and errors out properly on Python < 2.6.

[2012-03-17 02:00] jvimal commented on #93
Yes, it happens every time.  The plugin iterates over all nodes and executes install commands:

[code]

[2012-03-17 02:53] jtriley commented on #93
Hmmm this is bizarre given that the sshmaster and sshnode commands are very simple and do nothing more than look up the instance's public dns name and call your openssh client to login to the nodes.

Please pull the latest code and try this again. I updated the code to log any "garbage packet received" exceptions raised to the debug log. Once you're able to reproduce with the latest github code ch

[2012-03-20 16:41] jtriley opened #96 "test issue"

[2012-03-20 16:53] #96 closed, assigned to nobody

[2012-03-20 18:19] jtriley opened #97 "tester"

[2012-03-20 18:20] #97 closed, assigned to nobody

[2012-03-22 21:04] jtriley opened #98 "allow a 'spot timeout' when starting spot clusters"
From the mailing list: http://mailman.mit.edu/pipermail/starcluster/2012-March/001122.html

[code]

This is useful although it could wind up wasting several instance
hours if all but one spot instance fails to come up for example. A
better approach would be for the start command to monitor spot instance
requests up until a deadline at which point the spot requests which
haven't come up yet are can

[2012-03-29 23:31] jbheman opened #99 "Creating 2nd cluster breaks passwordless ssh on 1st cluster"
when i create a 2nd cluster I can no longer sshmaster to the 1st cluster as user sgeadmin. root can ssh.

to allow sgeadmin to login I have to login as root and create a password for sgeadmin. then you can ssh, but with a password.

[2012-04-02 23:43] jbheman opened #100 "resizevolume doesn't resize partition"
hi-
i've tried twice now to resize my ebs-volume. the size listed on 'starcluster listvolumes' and ec2's list of volumes reflects the increase. However, when I run df -h the device appears to be the same size.. looking into resize2fs -p /dev/... now. There is only one partition on this disk and i mount it as /home. Also, when i run frisk -l on this newly resized volume it says:

---

Disk /dev/xvd

[2012-04-05 14:46] jtriley commented on #100
Hmmm I'm repartitioning already using sfdisk. Perhaps I need to delete the partition before repartitioning and resizing. I'll experiment with this today and see if I can reproduce/fix this.

Concerning /dev/sd\* names getting into /etc/fstab: this should only happen if the device actually shows up as /dev/sd\* rather than /dev/xvd_. StarCluster first checks /dev/sd_ then /dev/xvd\* and uses whiche

[2012-04-06 00:32] jbheman commented on #100
btw, thanks a million for developing this most useful tool.

re: /dev/sd\* : i've had to derive my own ami, which is now fairly stable, but if i come across the issue again i'll send you the code.

it might be worthwhile to create some sort of 'plugin exchange' where people can share and buildup a repo.

best, jason

On Apr 5, 2012, at 10:46 AM, Justin Riley wrote:

[2012-04-06 14:41] jtriley commented on #100
I think I've got this figured out but just to confirm could you paste the
output of 'fdisk -l' for the original disk you're trying to resize? Thanks!

[2012-04-07 00:19] minrk opened #101 "~/.ssh is owned by root"
I was trying to add an extra public key for user-login, and noticed that ~/.ssh of CLUSTER_USER (/home/sgeadmin/.ssh by default) is owned by root, so I had to login as root in order to add the key.  It seems like this should be a user-owned directory.

[2012-04-17 14:02] jtriley opened #102 "check that AMI is 'available' when validating"

[2012-04-17 14:02] jtriley opened #103 "remove ssh host keys when creating new AMI"

[2012-04-17 14:04] jtriley opened #104 "show snapshot progress when creating new EBS AMI from EBS instance"

[2012-04-18 20:42] #102 closed, assigned to nobody

[2012-04-18 20:42] #100 closed, assigned to nobody

[2012-04-18 20:42] #104 closed, assigned to nobody

[2012-04-18 23:05] jtriley commented on #101
Thanks min, good catch. Working on this now...

[2012-04-19 05:42] #101 closed, assigned to nobody

[2012-04-19 05:59] #103 closed, assigned to nobody

[2012-04-20 14:05] jtriley opened #105 "wait_for_active_spots queries for spot instance requests too quickly"
From the mailing list:

http://mailman.mit.edu/pipermail/starcluster/2012-April/001146.html

From my testing, wait_for_active_spots queries all cluster spot requests
immediately after creating them. In some cases this happens before they're
available via the AWS API which causes the code to move past waiting for active
spot requests given that it appears that there aren't any spot requests.

[2012-04-21 07:16] jassinm commented on #21
First thanks for this project : seems like a great alternative to whirr...
any update on the VPC feature request?
Is there any code i could fork which started to implement this?
otherwise i would give it a shot:
-  add vpcid to config + use boto VPCconnection
-  ability to specify the routing  of the instances via user_data boto in config_file to home / office LAN

ideally at some point one could

[2012-04-21 16:59] rayrayson commented on #21
I wrote some code for VPC support a while ago (ie. last year and tested it early this year), but there are still unsolved issues:

1) Boto bug 1 - Security group issues in VPC:

Without a fix, StarCluster can't authorize() or delete() VPC security groups:

https://github.com/boto/boto/issues/561

I developed some workarounds - but I think the fix should go into Boto as the bug is in Boto. And the

[2012-04-24 14:43] jschug opened #106 "nfs shares of EBS volumes duplicated"
Using ami-999d49f0 for master and nodes and mounting two EBS volumes I see this correct df -h on the master:

/dev/xvdz1            985G  293G  642G  32% /data
/dev/xvdy1            985G   67G  868G   8% /combo

but see this on the nodes:

master:/data          985G  293G  642G  32% /data
master:/combo         985G  293G  642G  32% /combo

Apparent contents of /combo on nodes are what's in /data.

[2012-04-24 15:13] jtriley commented on #106
Can you send me the contents of /etc/exports on the master node and /etc/fstab on a worker node?

[2012-04-24 16:11] jschug commented on #106
They look right to me - mysterious.

/home node001(async,no_root_squash,no_subtree_check,rw)
/data node001(async,no_root_squash,no_subtree_check,rw)
/combo node001(async,no_root_squash,no_subtree_check,rw)
/home node002(async,no_root_squash,no_subtree_check,rw)
/data node002(async,no_root_squash,no_subtree_check,rw)
/combo node002(async,no_root_squash,no_subtree_check,rw)
/opt/sge6 node001(async,n

[2012-04-24 20:03] omus commented on #33
I don't think that having clusters with a size of 1 should automatically start as a spot instance when using the -b option. I use the loadbalancer to automatically add nodes to my cluster and I would prefer my master node to start as an on-demand instance for stability. Alternatively if this default behaviour is to stay an option such as --force-demand-master should be added.

I'll also note that

[2012-04-24 21:10] jtriley commented on #33
I agree. I originally did this to avoid passing --force-spot-master when developing with 1-node clusters. Not a good excuse but that was the rationale at the time. I completely overlooked the fact that this breaks the use case of a single on-demand master with spot nodes dynamically added/removed using the loadbalancer. Furthermore having a spot master for development isn't really necessary anymor

[2012-04-24 21:24] omus commented on #33
Awesome, thanks!

[2012-04-25 15:36] jtriley commented on #106
Yea that looks fine at first glance. Are you able to reproduce this after a relaunch? I'll try to test this myself later today.

[2012-04-25 18:37] jtriley opened #108 "do not launch master as spot when using -b with cluster_size=1"
From omr:

I don't think that having clusters with a size of 1 should automatically start as a spot instance when using the -b option. I use the loadbalancer to automatically add nodes to my cluster and I would prefer my master node to start as an on-demand instance for stability. Alternatively if this default behaviour is to stay an option such as --force-demand-master should be added.

I'll also

[2012-04-25 18:40] #108 closed, assigned to nobody

[2012-04-25 21:19] jtriley commented on #33
@omus all set in develop branch: 3b3c2661fff29cd54cfb197a0514178cc6691b37

[2012-04-25 21:54] jschug commented on #106
I got this a few times using a couple of different ami's for the master and nodes.  Initially I had the vols mounted at /vols/data and /vols/combo and thought the common path might be a problem, but it wasn't.  I think this happened about 4 times and I could not get rid of it, so am using just one disk as a work-around until it's fixed. Thanks for looking into it.

[2012-04-25 22:47] jassinm commented on #21
justin as mentioned on irc . i cleaned up the push to track the develop branch. you can comment and find it @ https://github.com/locojay/StarCluster/tree/vpcdev

[2012-05-25 14:55] stephenhow opened #112 "ssh timeouts during start/restart (Mac OS X Lion)"
On my Mac (OS X Lion) I'm getting ssh timeouts when starting a new cluster, or trying to re-start it.  This happens almost 100% of the time on a start/restart.  I've been able to create one or two clusters from my Mac, but otherwise starcluster start almost always fails.

I work around the problem by running starcluster from a Linux instance.

[2012-05-25 15:02] stephenhow commented on #112
2012-05-25 07:49:25,277 PID: 94680 threadpool.py:123 - INFO - Shutting down threads...
2012-05-25 07:49:25,278 PID: 94680 threadpool.py:135 - DEBUG - unfinished_tasks = 20
2012-05-25 07:49:26,626 PID: 94680 cli.py:287 - DEBUG - Traceback (most recent call last):
  File "/Library/Python/2.7/site-packages/StarCluster-0.93.3-py2.7.egg/starcluster/cli.py", line 255, in main
    sc.execute(args)
  File

[2012-05-25 15:08] stephenhow commented on #112
!!! ERROR - Oops! Looks like you've found a bug in StarCluster
!!! ERROR - Crash report written to: /Users/show/.starcluster/logs/crash-report-94732.txt
!!! ERROR - Please remove any sensitive data from the crash report
!!! ERROR - and submit it to starcluster@mit.edu
Macintosh:otr_trips show$

[2012-05-25 17:39] nmichaud opened #114 "Cluster receipts"
Instead of using pickle, it might be more forward compatible to save all necessary attributes into a json or yaml object, especially since the all the important attributes are basic variable types (I have to check more carefully, but it seems that no objects are stored in the pickle).

[2012-06-06 15:13] jtriley opened #115 "add parameter for max map/reduce tasks to hadoop plugin"
from mailing list thread:

http://mailman.mit.edu/pipermail/starcluster/2012-June/001249.html

need to update mapred_site_templ to include the
mapred.tasktracker.{map|reduce}.tasks.maximum settings

[2012-06-20 15:40] Soulou opened #116 "Eucalyptus Interface"
Hi,

I wish to interface StarCluster with my Eucalyptus infrastructure. (which use the same API as AWS of course)

I add 'AWS_REGION_NAME' and 'AWS_REGION_HOST' in my config file to fit with my setup. And to manage the endpoint (which is /services/Eucalyptus) I add the AWS_EC2_PATH=/services/Eucalyptus and AWS_S3_PATH=/services/Walrus

But it doesn't work well. Does anyone has already done that ?

[2012-06-20 18:43] jtriley opened #117 "running 'starcluster help start' crashes"
[code]

[2012-06-21 08:50] Soulou commented on #116
Some details about my issue :

[code]

Config file :

https://gist.github.com/e7e409b40f937f61390e

[2012-06-27 20:21] dlovell opened #119 "node.ssh.put fails : raise SSHException('SSH session not active')"
This occurs when I try to put a file to each node in starcluster_plugin.py

https://github.com/mit-probabilistic-computing-project/Cloudless/blob/mrjobify/starcluster_plugin.py

If I immediately rerun with 'starcluster runplugin Cloudless mycluster', everything works fine.

Note that several node.ssh.execute commands prior to this command run fine (which seems odd but I don't know if ssh.execute a

[2012-07-12 22:35] daviderickson opened #120 "Error when running removenode"
Here is the log:
$ starcluster removenode c node001 node002
StarCluster - (http://web.mit.edu/starcluster) (v. 0.93.3)
Software Tools for Academics and Researchers (STAR)
Please submit bug reports to starcluster@mit.edu

[2012-07-16 14:55] jtriley opened #121 "move test_aws_credentials_validation to 'live' tests"
The test_aws_credentials_validation test requires a network connection in order to run. Need to move this to a 'live' tests module that only runs when a special 'flag' has been flipped.

https://bugs.gentoo.org/show_bug.cgi?id=426528

[2012-07-17 04:04] jtriley commented on #116
@Soulou the current version is not compatible with Eucalyptus given that Eucalyptus does not support a recent AWS API that includes tagging and filtering. I'd love to support Eucalyptus but this currently would require sub-classing and re-implementing several core pieces of code that I simply don't have the time for at this point. If you're interested in doing this I'd be happy to point you in the

[2012-07-17 19:53] #117 closed, assigned to nobody

[2012-07-17 21:54] jtriley commented on #93
@jvimal I would double check your node.ssh.execute command especially the "more commands" part because I suspect it, perhaps unknowingly, modifies root's ~/.ssh/authorized_keys file and adds an "echo" command to the beginning of the first line in authorized_keys.

You can test this easily:
1. Start a cluster without the plugin running at start-up
2. Login using sshmaster command
3. Run cat ~/.ssh/

[2012-07-17 21:54] #93 closed, assigned to nobody

[2012-07-17 22:07] jtriley commented on #112
@stephenhow Would you mind installing the latest development version from github and see if you still have the same issues? It seems like this is a faulty network connection problem given the exception message "Server connection dropped" but could also be due to an issue with PyCrypto. Using the latest git version will pull in a newer version of the python ssh library and consequently PyCrypto whi

[2012-07-20 19:17] jtriley opened #124 "console logs go to sys.stderr by default (should be sys.stdout)"
Reported on the mailing list:

http://mailman.mit.edu/pipermail/starcluster/2012-July/001320.html

[2012-07-20 19:19] #124 closed, assigned to nobody

[2012-07-20 20:02] egafni opened #125 "Specify Root EBS Volume Size at Startup"
looks simple to integrate:  http://alestic.com/2009/12/ec2-ebs-boot-resize

[2012-07-23 15:36] jtriley commented on #125
Yep, this should be possible. I'll experiment with this soon...

[2012-07-23 15:41] egafni commented on #125
Also noticed last Friday you can now do this through the AWS web console

[2012-07-24 13:36] jtriley commented on #120
@daviderickson Would you mind finding this error in your $HOME/.starcluster/logs/debug.log file and pasting the surrounding lines here? That should give more details on what the issue is. I need to update sshutils to dump the output whenever there's an error...

[2012-07-24 13:37] jtriley opened #126 "sshutils: display failed command output to console"

[2012-07-24 14:08] jtriley opened #127 "add fix to ipcluster plugin for IPython 0.13"
Need to add a fix for ipython/ipython#2171

[2012-07-24 18:14] daviderickson opened #128 "Add option to forward authentication agent to sshmaster"
As the title says, it would be really nice to be able to forward my auth agent using ssh(instance|node|master).  And in general it would be even better if I could pass through arbitrary ssh arguments using these starcluster commands.

[2012-07-25 18:17] #127 closed, assigned to nobody

[2012-07-31 05:04] #116 closed, assigned to nobody

[2012-07-31 17:54] jtriley opened #131 "Hadoop plugin doesn't add or remove nodes from Hadoop cluster"
Need to implement on_add_node and on_remove_node in Hadoop plugin

[2012-07-31 22:40] jtriley opened #132 "document default security group permissions"
The docs mention that SSH is open but fail to mention that all inner-group traffic is allowed by default

[2012-08-01 03:12] jtriley opened #133 "update install docs"
- Mention that a compiler is required for PyCrypto and include instructions for Debian and Red Hat systems. Also mention that the relevant python-dev needs to be installed to avoid the following warning when building PyCrypto:

[code]

[2012-08-02 14:53] jtriley commented on #133
Add virtualenv instructions for complete non-root install:

[code]

[2012-08-02 18:08] jtriley commented on #106
@jschug Just for drill: can you paste your volume config?

[2012-08-03 05:58] daviderickson commented on #125
+1, please add this!

[2012-08-03 07:17] daviderickson commented on #120
Here you go, sorry for the delay:

[code]

[2012-08-03 18:26] JohnCEarls opened #135 "Thread error at end of starting cluster"
Hi,

Starcluster is great, btw.

I'm running off the dev branch and I receive the following error after the cluster is started:

---

Exception in thread Thread-21 (most likely raised during interpreter shutdown):
Traceback (most recent call last):
  File "/usr/lib/python2.6/threading.py", line 532, in __bootstrap_inner
  File "/usr/local/lib/python2.6/dist-packages/ssh-1.7.14-py2.6.egg/ssh/transp

[2012-08-03 19:09] jtriley commented on #135
@JohnCEarls I've seen this error before but very rarely. This is ultimately a threading issue with Python 'ssh' (formerly paramiko) where its threads are still running when the interpreter is shutting down. As you discovered this isn't a fatal error but annoying none the less. Finding a fix for this is difficult given that it's a transient error and hard to reproduce (at least for me anyway...). T

[2012-08-23 15:57] egafni opened #137 "volumecreator mkfs.xfs fails"
starcluster createvolume -n erik_DC_vol2 -m mkfs.xfs 50 us-east-1a
results in:
!!! ERROR - command not found on remote system: 'mkfs.xfs'

[2012-08-23 16:10] ablimit opened #138 "Installation Error"
After installation, I typed starcluster, and the following error appeared on the screen ?

ImportError: /usr/local/lib/python2.6/dist-packages/pycrypto-2.6-py2.6-linux-x86_64.egg/Crypto/Cipher/_AES.so: undefined symbol: rpl_malloc

[2012-08-23 17:13] jtriley commented on #138
It looks like PyCrypto's _AES.so is linked to a library during installation that it later cannot find in your current environment. If you could run `ldd` on _AES.so and post the output that'd be helpful:

[code]

Thanks!

[2012-08-23 17:14] jtriley commented on #137
This error is due to the fact that the latest AMIs do not have the XFS utilities installed. I will install them in the next round of AMIs. Thanks for reporting :D

[2012-08-23 19:15] jtriley commented on #137
BTW, IIRC you can install them using:

$ apt-get install xfsprogs

You could then rebundle the AMI until the next round of AMIs are out.

HTH

[2012-08-27 14:13] jtriley commented on #138
Doing a little more research I found a blog post where they were having issues using PyCrypto (ironically on Amazon EC2):

http://bugcharmer.blogspot.com/2012/07/building-pycrypto-on-amazon-ec2.html

After reading that post I believe you can fix this by doing:

$ export ac_cv_func_malloc_0_nonnull = yes

and then forcing a reinstall of PyCrypto:

$ easy_install -U PyCrypto

Let me know if that fix

[2012-08-27 14:25] ablimit commented on #138
Awesome. That works.
Many thanks, Justin.

[2012-08-27 14:25] #138 closed, assigned to nobody

[2012-08-31 12:43] turian opened #139 "pkginstaller plugin should run BEFORE the node is added to the SGE"
The pkginstaller plugin should run BEFORE the node is added to the SGE.

The reason is simple:

pkginstaller is used to specify packages that the nodes require.
If the node is in the SGE before the packages are installed, it will accept jobs and fail on them.

[2012-09-01 12:06] turian commented on #11
I belive @nouiz has done more recent testing of OpenBlas on UBUNTU, given discussion on theano.
Fred, is that correct?

[2012-09-04 13:05] nouiz commented on #11
Now there is an openblas package since Ubuntu 11.10. So you don't need to compile it, you just need to link again it.

I think that it is compiled like MKL: The dynamic lib is optimized for many computers and at load time, it select the best one.

Here is the Theano installation for it:https://deeplearning.net/software/theano/install_ubuntu.html#install-ubuntu

For openblas only: sudo apt-get inst

[2012-09-05 02:04] jtriley commented on #11
After receiving your notes I decided to give NumPy w/ OpenBLAS another shot and I got it to work! I used the following site.cfg:

[code]

Unfortunately I also needed one other hack in order to get NumPy's _dotblas.so module to build which I luckily discovered from looking at the Gentoo Linux ebuild for NumPy 1.6.2 (Thank youuuu Gentoo :D):

(Ebuild: http://sources.gentoo.org/cgi-bin/viewvc.cgi/gen

[2012-09-05 02:11] jtriley commented on #11
Scratch that, the Ubuntu build does support all platforms but still has the max threads (2) limitation. Unfortunately setting both OPENBLAS_NUM_THREADS and OMP_NUM_THREADS doesn't have any effect either...

[2012-09-05 18:11] jtriley commented on #139
@turian Yes, historically SGE has been a 'default' plugin. In the future I'll likely disable SGE by default (after some releases that warn loudly about this) and let users configure it as a plugin if they need it. For now you can disable SGE and then put it in the correct order in your plugins list, e.g.:

[code]

See http://star.mit.edu/cluster/docs/latest/plugins/sge.html#advanced-options for mo

[2012-09-05 18:12] jtriley commented on #139
Closing this given that there is a suitable workaround and the issue of eventually removing SGE from the default plugins is well known. Feel free to continue to comment on this bug if you still have issues setting up the config to do what you want.

[2012-09-05 18:12] #139 closed, assigned to nobody

[2012-09-05 21:59] jtriley commented on #11
I was also able to build SciPy successfully against OpenBLAS and tested using hessenberg function. Looks like all but one or two tests pass but this seems normal for every SciPy build I've ever encountered :P

[2012-09-06 13:32] steevmi1 commented on #21
Is there any update on this issue? Is the vpcdev branch worth testing with to help make this feature ready for prime time?

[2012-09-06 15:26] simonkahan opened #140 "ImprotError: No module named boto.exception"
An issue raised by three users but not addressed on Amazon's AWS forum  ( https://forums.aws.amazon.com/thread.jspa?threadID=81617 ) is this python ImportError -- I get it when running on my macbook 10.6.8 system, though not on our linux install.  (is it something to do with python path settings?)
Anyone know what to do to alleviate it?  Thanks!

bash-3.2$ bin/starcluster start smallcluster
Traceb

[2012-09-12 17:53] jtriley commented on #140
@simonkahan Would you mind trying the latest 0.93.3 version? You should be able to install this on Ubuntu with a single command:

[code]

This will download and install the latest version as well as the latest dependencies (including boto). Let me know if that solves it.

[2012-09-12 19:30] jtriley commented on #140
Just responded to the AWS thread but here's the post for others:

I'm not sure if you installed StarCluster manually (using setup.py) or using easy_install but my guess is that you did a manual install without having setuptools installed which is why the proper dependencies were not downloaded and installed automatically (e.g. boto).

Most distributions have a setuptools package that you can insta

[2012-09-18 02:41] ghost opened #141 "S3 SSL validation fails"
When I use http_validate_certificates = True, I get the following exception:

[code]

when getting a bucket using an S3Connection. It does work though if I use a URI object created with boto.storage_uri.

[2012-09-18 14:54] jtriley commented on #141
@johnwulf Thanks for reporting. Which version of boto are you using? IMO this is ultimately a bug with boto but I could be wrong. In either case I'm interested in fixing it if possible. I'm curious if it happens with the latest boto. If you try the latest github code (https://github.com/jtriley/StarCluster/zipball/master) that should pull in the latest version of boto (currently 2.5.2).

[2012-09-18 14:56] jtriley commented on #141
FWIW I have http_validate_certificates=True in my ~/.boto and I can successfully fetch a bucket from S3Connection without that error using boto 2.5.2...

[2012-09-18 15:08] jtriley commented on #141
I'm going to close this issue for now given that it's purely boto related and it seems to work fine for me with latest boto 2.5.2. Please feel free to reopen if you're still having issues with the latest boto 2.5.2 version but at that point I'd recommend also filing a bug with boto.

[2012-09-18 15:08] #141 closed, assigned to nobody

[2012-09-18 15:46] ghost commented on #141
I am using boot 2.5.2 too and I get it to work when I gt a bucket through an uri constructed through the storage_uri, but if I create a connection myself and try to get the bucket, I gt that error. I will hunt that a more down on the weekend and see what the issue is.

[2012-09-18 16:57] jtriley commented on #141
Ok, can you please paste the entire stacktrace and not just the exception message? Also what does your ~/.boto file look like? Perhaps @garnaat and his team have an idea? BTW it should be https_validate_certificates (not http_validate_certificates). In any event I would recommend filing a bug with boto with more details about OS, Python version, etc. In the mean time you're welcome to jump on #sta

[2012-09-18 16:59] jtriley commented on #140
I'm closing this issue for now given that I'm fairly confident you did not have setuptools when installing. Please reopen If installing setuptools and then reinstalling StarCluster using easy_install as mentioned above doesn't fix things for you.

[2012-09-18 16:59] #140 closed, assigned to nobody

[2012-09-18 17:01] jtriley commented on #135
@JohnCEarls Looks like @bitprophet has a fix coming for this (see bitprophet/ssh#28) and should be included in the next release of the Python 'ssh' library. I will close this issue when the next version gets released.

[2012-09-18 17:12] garnaat commented on #141
This is complicated 8^(

By default, boto uses what we refer to as the SubdomainCallingFormat which is the recommended way to address buckets in S3.  In this calling format, the Host header in the request includes the bucket name as a subdomain.  So, if your bucket name is "foobar", the Host header becomes:

[code]

S3 has wildcard SSL certs on all of their endpoints so trying to validate this hos

[2012-09-18 18:53] jtriley commented on #141
@garnaat Awesome, thanks for pointing that out. The original error @johnwulf posted showed the bucket as 'mybucket' but I'm guessing he's hiding the real bucket name which likely contains periods (I find it hard to imagine 'mybucket' wasn't already taken anyway...)

[2012-09-18 19:27] ghost commented on #141
That is the case. There are dots in the bucket name and I was hiding it, not in a good way. So much about me being precise when stating things or reading the damn manual. I was suspecting something like this, but didn't have the time to test it (not enough hours during the day), as it was working through using storage_uri. Anyways, this is all proper behavior, as you pointed out.

Appreciate your

[2012-09-19 14:17] simonkahan commented on #140
The problem seemed to be in _how_ it was installed.  Port installed it, but
apparently not well enough.  I had to download directly, and then each
dependence in turn.  After several more downloads I was able to get
starcluster to work.
Thanks!

On Tuesday, September 18, 2012, Justin Riley wrote:

[2012-09-19 19:48] jtriley commented on #71
The SGE plugin has been merged.

[2012-09-19 19:48] #71 closed, assigned to nobody

[2012-09-24 15:28] jziniti commented on #116
@jtriley My apologies for a late post on a closed issue, but I would like to take a closer look at this issue to see if it is something I could implement for our group.  Could you give me some pointers on where I should be looking in the code? Thanks, JZ.

[2012-09-24 16:09] jairideout opened #143 "Add option to bail out if EBS volume can't be mounted"
Sometimes creating a new cluster with an EBS volume will fail to attach the volume because the volume's device cannot be found. This is printed out as a warning, but the cluster continues to be created.

Would it be possible to add an option to 'starcluster start' to have it error out if the EBS volume cannot be attached? Or more generally, to bail out if any warnings are encountered in the cluste

[2012-09-27 14:32] jtriley commented on #143
Yea, the default behavior should probably be to just bail on any error encountered during setup and add a flag for those that want to 'force' things...

[2012-10-08 18:54] spacepod opened #144 "StarCuster client writes a config template with world-readable permissions"
(At least on OS X 10.8), on an initial run of the StarCluster commandline client, after accepting the  option to write the .starcluster/config template, the config file is left world-readable.  I suggest that this should be changed to be only readable by the user (chmod go-rwx ) for security issues, as this file contains the user's AWS access and secret key.

[code]

[2012-10-08 21:00] jtriley commented on #144
Good call, fixing this now. Thanks for reporting.

[2012-10-12 19:51] jtriley opened #146 "add --zone option to spothistory command"
EC2 Spot price history API call now supports limiting the results to specific AZs within a region.

[2012-10-16 18:12] MadDataScience opened #148 "Use pip (instead of apt-get) for Python packages"
The python packages available through apt-get are frequently out of date, not to mention incomplete. For example, python-numpy is only up to 1.5.1. Also pandas (which depends on NumPy >= 1.6) is not yet available through apt-get. It would be nice if there was a way to automatically install python packages in a manner akin to the existing PackageInstaller. In the meantime, what would be the recomme

[2012-10-17 17:28] jtriley opened #149 "ignore inline comments when parsing config file"
See http://mailman.mit.edu/pipermail/starcluster/2012-October/001416.html

[2012-10-17 21:26] bspratt opened #150 "use DNS names instead of IP addresses in permissions (done, but what to call it?)"
I've implemented an alternative to cidr_ip that lets you lock down a port range to a DNS name.  It resolves DNS and populates cidr_ip at startup (and yes, the cidr value becomes stale if the DNS record changes during cluster lifetime, but there you have it - AWS doesn't support DNS names in security groups).

Working name is "cidr_dns", which I don't love - anyone have an alternate suggestion?

[2012-10-18 16:58] jtriley commented on #150
@bspratt Awesome! Do you have the code in a branch somewhere I could take a look at? I'm assuming you always set the cidir range to /32 when populating cidr_ip?

I need to double check but I believe it's possible to add multiple cidr_ip ranges to a given security group rule and if that's the case we could allow cidr_ip to be a list and then make your new DNS option a list as well and call it 'allo

[2012-10-18 17:00] jtriley commented on #150
or 'require_hosts'

[2012-10-18 17:29] bspratt commented on #150
Correct, you end up with a rule like this: Allow 80 (HTTP) 173.157.204.231/32

Yeah, I think "require_hosts" is good.

I like the idea of a cidr_ip list, although I think that might actually have to result in multiple rules - one CIDR per rule IIRC.

As long as we're messing with cidr_ip, what if it was allowed to accept DNS names (and we ditched the require_hosts thing)?  They'd have to be struct

[2012-10-18 17:41] jtriley commented on #150
@bspratt I just experimented and was able to add another CIDR to an existing rule so I think multiple CIDR's per rule is OK but I'll need to do some more testing. I'm fine with extending cidr_ip and not adding another option so long as the current implementation works for existing users. Given that we're resolving the DNS ourselves it should be easy to distinguish an IP from a dns name (via regex)

[2012-10-18 17:43] jstjohn opened #151 "Cluster started with 0.93 cannot be terminated with 0.999"
I tried to do a starcluster terminate on a cluster started with v 0.93 after upgrading to the development version. However when I do this I get the following error:

[code]

[2012-10-18 17:44] jstjohn opened #152 "Development version Exception in Thread-22"
After starting a cluster I get this message, not sure if it means anything:

[code]

[2012-10-18 17:47] jtriley commented on #151
Yes, the next version of StarCluster (in development) will not be compatible with clusters created with older (0.93.x) StarCluster versions. You'll need to temporarily switch to 0.93.3 to terminate your old clusters before using the latest development version. I will add sufficient warnings before the next release as I've done in the past when these sort of changes occur..

[2012-10-18 17:47] #151 closed, assigned to nobody

[2012-10-18 17:50] bspratt commented on #150
Yeah, I hadn't checked to see if my fork was public or not, it is:  https://github.com/bspratt/StarCluster.git

My only concern is that we can reliably tell URIs from security groups.  I suppose security groups never have . in them, and URIs always do, and an actual IP CIDR is easy to match.

[2012-10-18 17:52] jtriley commented on #152
This is a bug in the Python 'ssh' library that should now be fixed in the new version of paramiko (ssh migrated back to paramiko). I'm planning on updating the ssh dependencies for StarCluster to the latest paramiko version before release which should hopefully fix this error. WIth that said, this error, albeit annoying, is completely harmless and occurs when the StarCluster application is exiting

[2012-10-18 17:52] #152 closed, assigned to nobody

[2012-10-18 19:05] bspratt commented on #150
OK, cidr_ip now handles actual CIDR references as well as URIs, and it handles multiple entries as a space seperated list.  Pushed to my fork on github.

[2012-10-18 20:00] jstjohn opened #154 "starcluster loadbalance fires up new nodes if a process is waiting for another process to finish"
When you qsub a job that needs to wait for another job to finish, `starcluster loadbalance` treats that job as a waiting job and fires up new nodes. It should really only consider jobs that are just waiting in the queue and do not have any dependencies on other jobs finishing first. With `qstat` these jobs are listed as `hqw` rather than `qw`.

[2012-10-22 15:38] #146 closed, assigned to nobody

[2012-10-24 16:09] jtriley commented on #143
Changing the code now to always raise an exception whenever a command fails to execute (unless ignore_exit_status=True or raise_on_failure=False)...

[2012-10-24 17:41] #143 closed, assigned to nobody

[2012-10-26 20:09] jstjohn opened #155 "starcluster ebsimage fails on cc1.4xlarge hvm image"
This is with the starcluster public ami:
ami-4583572c

[2012-10-27 21:22] jstjohn opened #156 "Feature Request: Write info messages to stderr rather than stdout"
For example I ran the following:

[code]

And here is what the contents of `tmp.txt` is after doing this:

[code]

It would be nice to have that starcluster info stuff written to stderr so it doesn't end up clogging my unix pipes, so to speak. Thanks!

Best,
John

[2012-10-28 17:53] scrappythekangaroo opened #157 ""Memory Leak" on load balancer"
In starcluster.balancers.sge.**init**._get_stats:

qacct = '\n'.join(master.ssh.execute(qacct_cmd, log_output=True,
                                             ignore_exit_status=True))

Setting "log_output=True" results in large (and ever growing) memory usage on the balancer when qacct returns a long job history, regardless of the log level.

[2012-10-28 17:59] scrappythekangaroo commented on #154
Unfortunately the whole job "wait time" becomes a rather less useful metric for determining when to start-up a new node since the wait time includes time that the job was on hold.

I think this needs a rewrite of the _eval_add_node logic since I can't see a way to change the way wait time is determined in SGE.  I'd suggest looking at the expected queue completion time for 'qw' jobs based on previo

[2012-10-28 18:07] scrappythekangaroo opened #158 "Default behaviour of SGE inhibits the load balancer from shutting down nodes"
It seems that the default behaviour of SGE is to use "load_formula = np_load_avg" (see qconf -ssconf) which will balance jobs across nodes.

For example:
1.  My cluster currently has three nodes up and the queue is currently empty
2.  Three new jobs come in -- these will most likely be spread across each of the three nodes
3.  Since all three nodes have processes on them the load balancer will not

[2012-10-29 09:27] scrappythekangaroo opened #159 "Dangling threads on_add_node, on_remove_node"
Anybody else notice that these methods seen to leave dangling threadpools?  Seems to be a problem when using the load balancer whenever a node is added/removed since the number of threads attached to the load balancer can quickly explode.

Any reason why on_add_node, on_remove_node don't contain:
try:
   ...
finally:
   self.pool.shutdown()

as in the run method?

[2012-10-29 18:00] jtriley commented on #155
@jstjohn Interesting, I'll give it a shot and see what's up. In the mean time if you still have ami-6e77cf07 I'd be interested to see the output of:

[code]

[2012-10-30 15:19] #156 closed, assigned to nobody

[2012-10-30 21:11] scrappythekangaroo commented on #157
A bit more investigation, from the plugins documentation:

"All messages logged with the log.debug() method will always be printed to the debug file, however, these messages will only be printed to the screen if the user passes the –debug flag to the starcluster command."

This is the reason for the memory behaviour.  For the load balancer which is likely to be running continuously for longer peri

[2012-10-30 23:43] npinto commented on #11
For reference, here is a related post from sklearn:
https://github.com/scikit-learn/scikit-learn/pull/766

[2012-10-31 02:58] jtriley commented on #11
@npinto Fortunately in the end I was able to use the Ubuntu packages for NumPy/SciPy without needing to rebuild them with the NO_ATLAS_INFO magic so I don't think that post is a problem here (although I had to use that magic when building OpenBLAS/NumPy in a virtualenv on Gentoo). I simply rebuilt Ubuntu's OpenBLAS package and updated the blas implementation to point to OpenBLAS via update-alterna

[2012-10-31 03:23] jtriley commented on #157
@scrappythekangaroo Good catch, although it's not because of logging to a _file_ it's because I'm storing the session log in memory (via a StringIO log handler) in order to conveniently build crash-reports when uncaught exceptions are thrown. Clearly I wasn't quite thinking when I wrote this :P Fixing now...

[2012-10-31 06:13] #157 closed, assigned to nobody

[2012-11-06 15:46] jstjohn commented on #154
Why can't we just differentiate between 'qw' and 'hqw'. It seems like the current calculations would be fine if they just ignore 'hqw' somehow. Is that hard? I haven't looked into this yet.

[2012-11-06 15:48] jstjohn commented on #154
Oooh... I see... total wait time for a recently "qw" job includes it's "hqw" time? Well... if we just ignore 'hqw' jobs at the very least you wouldn't be in the situation where all jobs are either 'r' or 'hqw' and new nodes are being fired up, right?

[2012-11-06 16:11] scrappythekangaroo commented on #154
Unfortunately (at least in our case) it doesn't work well that way.  We could have a task on hold for 40 minutes that as soon as it goes into 'qw' would potentially trigger a new instance to be launched.  In our case this is not desirable behaviour.

Finding an alternative is not so obvious if you want to keep the load balancer stateless. I suspect a combination of metrics based on number of jobs

[2012-11-06 16:14] jstjohn commented on #154
Yea... this wouldn't be an optimal solution but it is better than what goes on right now. As it stands new nodes are fired up every however often as long as you have jobs in "hqw". This change would at least liimit the number of nodes fired up erroniously to the number activated during the time a job switches to "qw" if starcluster notices the job in 'qw' before it goes into 'r'. Basically this wo

[2012-11-06 16:53] scrappythekangaroo commented on #154
Sure that's a quick one liner fix and I would definitely make that change while looking for other solutions.

[2012-11-10 03:10] JohnCEarls commented on #155
In [1]: img = ec2.get_image('ami-580e8768')

In [2]: print img.block_device_mapping
{u'/dev/sde1': <boto.ec2.blockdevicemapping.BlockDeviceType object at 0x3870590>, u'/dev/sdb1': <boto.ec2.blockdevicemapping.BlockDeviceType object at 0x3870cd0>, u'/dev/sda1': <boto.ec2.blockdevicemapping.BlockDeviceType object at 0x38727d0>, u'/dev/sdd1': <boto.ec2.blockdevicemapping.BlockDeviceType object at 0x3

[2012-11-12 15:47] jtriley commented on #116
@jziniti My apologies for the delay. Basically anywhere that filters have been used in the code will need to be downgraded to fetching _all_ entries and manually performing the filters locally when using Eucalyptus/OpenStack. This is slow in general and _really_ slow for big clusters which is the main reason I switched to using them in addition to the fact that they require less code to be written

[2012-11-12 15:50] jtriley commented on #155
@JohnCEarls Awesome, thanks for the info. Looks like this might be an issue where the full block_device_mapping is not returned from AWS in the response from the create_image call. The code likely needs to be updated to first wait for the proper block device mapping to show up (ie /dev/sda1)  and _then_ wait for the snapshot.

[2012-11-12 15:51] jtriley commented on #155
FYI this can be achieved simply by refetching the AMI using DescribeImages until the block device mapping shows up. I will likely set this to timeout and error after 5 fetches...

[2012-11-13 15:28] FinchPowers commented on #69
I have a fix for it https://github.com/datacratic/StarCluster/commit/b938518bc89d58feda6e21e673307b8dc2ce18a3
I'll clean it and put it in a separate branch to allow it to be easily merged.

For it to work, nodes names must be in default format (node###) otherwise it will fail to count the slots. Is it an issue?

[2012-11-13 15:34] FinchPowers commented on #105
Fixed by pull request https://github.com/jtriley/StarCluster/pull/163

[2012-11-13 17:17] FinchPowers opened #165 "Can't pickle plugin sge while load balancing"
Case: With the load balancer, adding a first node is fine. Adding a second one gives pickle errors.

[2012-11-13 17:31] FinchPowers opened #166 "ssh keys errors when adding/removing multiple nodes"
It happens from time to time on long running clusters.

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@       WARNING: POSSIBLE DNS SPOOFING DETECTED!          @
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
The RSA host key for node005 has changed,
and the key for the corresponding IP address 10.58.54.31
is unknown. This could either mean that
DNS SPOOFING is happening

[2012-11-13 19:57] FinchPowers commented on #165
Fix in progress https://github.com/datacratic/StarCluster/tree/165_loadbalance_sge_pickling
Testing pending.

[2012-11-14 16:28] jtriley commented on #165
@FinchPowers Good catch, thanks for reporting! However, this should be fixed within the Cluster class and not on a per-plugin basis. This is due to a recent change where the plugins kwarg is now a list of plugin objects instead of a list of dicts from the config. This helps to decouple Cluster and StarClusterConfig. Fortunately I have a simple fix for this coming.

[2012-11-14 16:35] jtriley commented on #133
Also update docs for Mac OSX about installing gmp either via homebrew or manually. See: http://mailman.mit.edu/pipermail/starcluster/2012-November/001489.html

[2012-11-14 23:36] twiecki opened #167 "Upgrade ipcluster plugin to use IPython 0.13"
There are some issues with the ipython 0.12 parallel support (one thing is that they can't be used with IPython 0.13). Any plans to upgrade to 0.13?

[2012-11-14 23:56] jtriley commented on #167
Yes the new 12.04 AMIs will have 0.13.1 installed. The plugin in the latest github repo already supports 0.13+ just need to push out a release. Hoping to do this by the end of the week.

[2012-11-15 00:01] jtriley opened #168 "resize command should run e2fsck -f before running resize2fs"
From the mailing list:

http://mailman.mit.edu/pipermail/starcluster/2012-November/001486.html

I have a 20GB EBS that I'm trying to resize to 200GB.  I used resizevolume
but got an error:

[code]

It turns out, e2fsck needs to be run first:

[code]

[2012-11-15 00:04] #168 closed, assigned to nobody

[2012-11-15 02:48] twiecki commented on #167
Fantastic -- thanks for this great tool!

[2012-11-15 21:25] FinchPowers commented on #146
It seems like the command takes the parameter but is not using it.

[2012-11-15 21:32] thashim opened #169 "m3.xlarge and m3.2xlarge cannot be launched."
Since the new instance types are not in the INSTANCE_TYPES list, its impossible to launch the new m3 instance types.

[2012-11-15 22:03] jtriley commented on #146
You're right, fixing now, thanks.

[2012-11-16 19:35] JohnCEarls commented on #155
Cool beans.  Thanks!

[2012-11-16 20:48] stratosef opened #172 "error running stacluster"
---
## smallcluster (security group: @sc-smallcluster)

Traceback (most recent call last):
  File "/usr/lib/python2.6/site-packages/StarCluster-0.93.3-py2.6.egg/starcluster/cli.py", line 255, in main
    sc.execute(args)
  File "/usr/lib/python2.6/site-packages/StarCluster-0.93.3-py2.6.egg/starcluster/commands/listclusters.py", line 19, in execute
    show_ssh_status=self.opts.show_ssh_status)
  F

[2012-11-17 02:31] nehalecky opened #173 "createvolume default AMI"
Thanks for a great package. StarCluster is grand. I was following the coherent manual quite swimmingly, but stumbled following the steps for [creating and formatting a new EBS volume](http://star.mit.edu/cluster/docs/latest/manual/volumes.html#create-and-format-a-new-ebs-volume).

I am currently using US West (N. California) region, in the most-hip zone `us-west-1c`. Entering the `createvolume` co

[2012-11-17 11:46] Infectedman opened #174 "Error at start starcluster ebsimage"
We can not create an new AMI
[ec2-user@ip-10-244-167-166 ~]$ starcluster ebsimage i-1bc67164 starcluster
StarCluster - (http://web.mit.edu/starcluster) (v. 0.93.3)
Software Tools for Academics and Researchers (STAR)
Please submit bug reports to starcluster@mit.edu

Writes in the log ~/.startcluster/logs/debug.log

2012-11-17 10:48:29,399 PID: 2187 config.py:551 - DEBUG - Loading config
2012-11-17

[2012-11-19 15:20] FinchPowers opened #175 "spot price history current price is wrong"
The current price is not the current price but the oldest price.

[2012-11-20 16:57] FinchPowers commented on #98
Business rules for this can get extremely complex. I intend to develop state machine support for the load balancer add_node operation. The loadbalance command will specify a state machine + config to use.

[2012-11-26 15:58] FinchPowers opened #177 "Thread leak"
I've got a load balancer crash due to an "error: out of threads"

I think the Cluster.add_nodes leaks threads.

[code]

a new DefaultClusterSetup is created. Then add_node

[code]

Then in clustersetup.on_add_node

[code]

Creates the thread pool. (In fact a bunch of functions here would create it, it's simply a matter of the first needing it creates it.)

And then back to our Cluster.add_nodes co

[2012-11-26 16:38] FinchPowers commented on #177
I've made a fix attempt https://github.com/datacratic/StarCluster/tree/177_thread_leak
I'll see how it goes.

[2012-11-26 19:42] twiecki commented on #167
I'm using the most recent development snapshot but still getting 0.12 by default. How can I use the 12.04 AMI?

[2012-11-26 20:13] twiecki opened #178 "Failed to create new AMI"
Followed this guide: http://star.mit.edu/cluster/docs/latest/manual/create_new_ami.html

At this step it breaks:

[code]

[2012-11-26 20:20] dpolhamus opened #179 "addnode NFS doesn't respect MOUNT_POINT"
The desired behavior is seen when starting a cluster of multiple nodes (starcluster start -s x myCluster), NFS shares MOUNT_POINT to each node.  However, when using starcluster addnode, MOUNT_POINT is disregarded and /home is shared instead.

[2012-11-26 20:22] jtriley commented on #179
Are you using 0.93.3 or the latest github version?

[2012-11-26 20:29] dpolhamus commented on #179
Hi Justin, this is the latest github version.
Dan

On Mon, Nov 26, 2012 at 3:22 PM, Justin Riley notifications@github.comwrote:

##

Daniel G Polhamus, PhD
Metrum Research Group, LLC
2 Tunxis Rd, Suite 112
Tariffville, CT 06081
(888) 308-7049 ext 403

[2012-11-26 20:31] jtriley commented on #179
@drexell0680 OK, this is due to some recent refactorings. Should have a fix soon. Thanks for reporting!

[2012-11-28 03:14] #165 closed, assigned to nobody

[2012-11-28 03:24] #172 closed, assigned to nobody

[2012-11-28 18:06] stratosef opened #180 "error running stacluster command: starcluster listclusters"
I have just downloaded and used the development version.
Many things work well, but I got the following error:

[root@nas-3-0 StarCluster-develop]# starcluster listclusters
StarCluster - (http://star.mit.edu/cluster) (v. 0.9999)
Software Tools for Academics and Researchers (STAR)
Please submit bug reports to starcluster@mit.edu

---
## smallcluster (security group: @sc-smallcluster)

!!! ERROR - U

[2012-11-28 21:25] marktsuchida opened #181 "starcluster createvolume fails due to -F option"
This command fails:
`starcluster createvolume -n my-volume -m mkfs.reiserfs 10 us-east-1a`

(`mkfs.reiserfs` is not installed on the default image, so I sshed into it and did `apt-get reiserfsprogs`, but that is not the main problem here.)

StarCluster tries to execute `mkfs.reiserfs -F /dev/xvdx`, but this fails because `mkfs.reiserfs` does not understand the `-F` option (`mkfs.reiserfs -ff ...`

[2012-11-28 22:27] marktsuchida commented on #181
Well, it looks like the default image cannot mount ReiserFS volumes anyway, so I'm going to close this.

[2012-11-28 22:27] #181 closed, assigned to nobody

[2012-11-29 16:43] jtriley commented on #181
@marktsuchida Yea, sorry about that. I've included more filesystem utilties in the new 12.04 AMIs that will be public soon but in the mean time you can update the latest 12.04 AMIs using ebsimage command. See:

http://star.mit.edu/cluster/docs/latest/manual/create_new_ami.html

I just fixed the issue you were having with the '-F' option. It's no longer used by default and is only used with mkfs.ex

[2012-11-30 18:24] marktsuchida commented on #181
@jtriley Thanks!

[2012-12-03 16:17] #155 closed, assigned to nobody

[2012-12-03 16:17] #178 closed, assigned to nobody

[2012-12-03 21:15] JohnCEarls opened #183 "On Dev branch - 'StarClusterConfig' object has no attribute 'get_cluster_names'"
I was just checking the dev branch to confirm https://github.com/jtriley/StarCluster/commit/3569501976edd039f376bbd744ea480ddb49e717 and when I tried to run
starcluster start -o -s 1 -b .5 -i m1.large -n ami-de8f31b7 imagehost
I got the following error:

Traceback (most recent call last):
  File "/usr/local/bin/starcluster", line 9, in <module>
    load_entry_point('StarCluster==0.9999', 'console_

[2012-12-04 05:38] #183 closed, assigned to nobody

[2012-12-04 05:39] jtriley commented on #181
@marktsuchida Thanks for reporting!

[2012-12-06 16:39] jtriley opened #184 "fix shrinking a volume with resizevolume command"
The current resizevolume code needs to be updated to manually rsync the original volume to a new volume in the case that the user wants to shrink the volume.  The current approach of creating a snapshot and then creating a new volume from that snapshot with a _smaller_ size does not work. The volume will still be the original size of the snapshot since it's not possible to create a volume smaller

[2012-12-10 17:08] twiecki opened #185 "How to launch multiple IPython NBs on a single ec2 instance."
This problem came up during a workshop recently where we wanted each student to get his own NB. For this I changed ipcluster.py to launch multiple NBs on the same server on different ports.

I would like to refactor this properly and turn this into a configurable feature but not sure I can get to this given my current time constraints. Obviously this is nothing more but a hack currently, but it se

[2012-12-11 18:44] jtriley commented on #185
Awesome, thanks for the details. This should be easy to integrate with the current ipcluster plugin. I will add a config for the plugin to enable multiple notebooks on the head node. Something like:

[code]

[2012-12-13 06:46] #179 closed, assigned to nobody

[2012-12-17 19:51] FinchPowers opened #188 "Unreachable nodes via SSH handling"
Sometimes nodes are just never getting accessible via SSH.

The first iteration will consist of the following:
1. Put a timeout on node.wait.
2. Reboot the node after the timeout and wait again.

A future iteration will terminate the node at some point.

[2012-12-17 20:18] jtriley commented on #188
@FinchPowers Awesome, thanks for working on this!

[2012-12-17 20:19] jtriley commented on #177
Thanks for reporting, working on a fix for this now.

[2012-12-17 21:48] FinchPowers commented on #188
Branch: https://github.com/datacratic/StarCluster/tree/188-ssh_wait_timeout
Iteration 1 done (tests pending)

[2012-12-17 22:13] FinchPowers opened #189 "Security Group patience"
We'll need to put some patience there too.

[2012-12-17 22:39] FinchPowers commented on #188
@jtriley For iteration 2, I'll add a timeout for spot instances where they are terminated. How should the timeout behave on reserved instances? Should we simply stop it or stop/start it, which will put it (possibly) on other hardware but will also start a new billing hour for it.

For now, I'll stop it.

[2012-12-17 23:16] FinchPowers commented on #188
Stopping reserved instances is not going to work because the cluster.nodes method takes all nodes into account, including the stopped one. Hence, future calls to "wait" will block since the node is simply stopped.

Hereby, a stop/start will be called.

[2012-12-18 04:52] jtriley commented on #180
This should be fixed in the latest code. Please reopen if the problem still persists.

[2012-12-18 04:52] #180 closed, assigned to nobody

[2012-12-18 17:09] FinchPowers commented on #188
Design complete. Starting tests.

[2012-12-18 22:50] jairideout opened #191 "Specifying IPython Notebook port"
While teaching a workshop using the ipcluster plugin with the notebook enabled, we were unable to connect to the notebook server due to the default port of 8888 (there were no sys admins available to open the port either).

Would having a way to specify the notebook server port be something that others would use? I can find some time to work on this feature, but wanted to run it by the development

[2012-12-19 05:45] jtriley commented on #191
Yes, this would be great to have in addition to #185. One issue though is that currently the notebooks run as the "cluster_user" so only ports >1024 can be used without having to run the notebook as root.

[2012-12-19 14:19] FinchPowers opened #192 "Nodes that never start"
I encountered this issue yesterday. The node remained in "pending" state for more than 16 hours, so the loadbalancer was stuck.

It's the first time I see this so I guess it's very rare, but it still can block execution. I would say low priority.

[2012-12-19 22:23] somerandomsequence opened #193 "Remove configuration data from security group description"
It seems to me that this is a bad place to store configuration data, given that it is immutable (if you want to change it, you must first destroy all the instances associated with it and recreate them with a new security group), and it is seemingly quite esoteric (it took me some time to discover the data there, and longer to find the pieces of code that decode, uncompress, and de-Pickle it).

Sto

[2012-12-19 22:27] FinchPowers commented on #193
Then you won't have a choice but to control your cluster from the same server.

What config are you trying to change? I've made a patch (yet to be merged) that allows to reload config. See https://github.com/datacratic/StarCluster/tree/dev_config_fcts or pr https://github.com/jtriley/StarCluster/pull/162

[2012-12-19 22:39] somerandomsequence commented on #193
I needed to point cluster_data['volumes']['myvolume']['volume_id'] to the new volume ID (it was referencing an EBS volume associated with the old account).

Doing a 'removevolume' and a 'createvolume' might have worked too, but I wasn't able to try this since I kept getting errors about the old volume (still referenced in the pickle) not existing.

[2012-12-19 22:52] FinchPowers commented on #193
Ok I don't my patch covers that case.

[2012-12-20 19:50] #177 closed, assigned to nobody

[2012-12-27 23:15] jtriley commented on #193
The latest code now stores this information in more common locations: tags and userdata. I agree with you that it's some what creepy to store cluster settings in the cloud but the reason is so that you can use StarCluster between machines without needing the original config file. If two users attempt to run operations on a cluster without the same cluster settings loaded you could potentially wind

[2012-12-29 01:44] #135 closed, assigned to nobody

[2012-12-29 01:48] jtriley commented on #135
The above commit is an attempt to fix this by registering all SSHClient object's close() methods to be called on interpreter shutdown using the 'atexit' module. Please reopen if you encounter the issue again.

[2012-12-29 07:35] #189 closed, assigned to nobody

[2012-12-29 08:01] #175 closed, assigned to nobody

[2012-12-29 08:02] jtriley commented on #169
This was closed by PR #187

[2012-12-29 08:02] #169 closed, assigned to nobody

[2012-12-29 08:06] jtriley commented on #128
Just for the record, this was completed thanks to @daviderickson in 7d0b793e837efdaa62fa836428cd4f1393118b7d

[2012-12-29 08:06] #128 closed, assigned to nobody

[2012-12-29 08:21] jtriley commented on #149
Closed via #160

[2012-12-29 08:21] #149 closed, assigned to nobody

[2012-12-29 08:29] jtriley commented on #126
Fixed via 61ea2b67e6a18112e78b6720d0bfbed952acd6ca. A RemoteCommandFailed exception is now raised in SSHClient.execute() by default whenever a remote command fails for any reason. This ultimately causes the StarCluster _application_ to halt execution entirely and display the failed command, output, and exit status.

[2012-12-29 08:29] #126 closed, assigned to nobody

[2013-01-02 02:36] derkuci opened #194 "REFRESH_INTERVAL (of config file) is only honored with "start" command"
The global setting REFRESH_INTERVAL is only used when the command is "start".  In other cases (e.g., "restart"), the default (30s) is used.  Looking at the code, I see a cluster instance's refresh_interval is only modified at commands.start.CmdStart.execute(), but not with other commands.

[2013-01-02 02:46] derkuci opened #195 "Fix to make runplugin work"
There's a type error in running "starcluster runplugin" since load_plugins(plugs) returns a list of plugins (instead of (name, plugin) tuples).  The patch below fixes the problem, although I don't know for sure if plugin_name is supposed to be the canonical name of the plugin.

[code]

[2013-01-02 03:03] derkuci opened #196 "getpwnam for getting cluster user's UID and GID?"
Currently in clustersetup.py, the UID and GID of a "new" user is obtained by looking at the user's home directory, and later the UID and GID are used to create that new user on cluster nodes.  However, a user may exist on master without a home directory (e.g., sgeadmin on Fedora with gridengine RPMs) or its home directory may live somewhere other than /home.  Is it better to use getpwnam, like the

[2013-01-02 16:15] #195 closed, assigned to nobody

[2013-01-03 17:00] jtriley commented on #173
@nehalecky Sorry for the delay - you're absolutely right about searching for public SC AMIs in the target region. I plan to implement this but not before the next release given that I'm waaaay behind on a release. Thanks for reporting!

[2013-01-03 19:33] jtriley commented on #167
@twiecki Finishing up installing pandas and then will deploy the new 12.04 AMI to all regions along with 0.94 release

[2013-01-03 19:40] jtriley commented on #120
@daviderickson My apologies for losing track of this. Are you able to reproduce this issue? Judging by your logs the default plugin's on_remove_node is being executed before the SGE plugin for some reason. This causes the node to be removed from /etc/hosts, NFS, etc. before SGE attempts to remove the node and by that time the hostname 'node002' cannot be resolved (because it was removed).

In any

[2013-01-03 19:40] #120 closed, assigned to nobody

[2013-01-03 19:46] jtriley commented on #120
@daviderickson FWIW I just now tried your removenode command with a 3-node cluster and it worked without errors:
i.e:

[code]

[2013-01-03 19:52] jtriley commented on #114
Switched to using JSON instead of pickle to store the settings and also moved them from the security group description field to security group tags (and some to master's userdata), however, we still must compress and b64 encode the JSON tags given that there's a maximum of 10 tags allowed and each tag has a 255 char limit.

[2013-01-03 19:52] #114 closed, assigned to nobody

[2013-01-03 20:09] jtriley commented on #119
@dlovell My apologies for the delay. The SSHClient class checks to make sure the transport is active and reconnects it if necessary each time it's requested. Looking at the SCPClient class I can see it's not doing this and I think this is likely the issue - I'll try to implement a fix for this soon.

Now that it's been quite some time, are you running into this often?

[2013-01-03 20:28] dlovell commented on #119
Hi Justin,

First, thanks for StarCluster!  I used EMR for a bit (and it was a
tremendous pain) because I didn't know StarCluster had a hadoop plugin but
now can fluidly spin up large clusters.

I changed a few things recently (the types of instances I'm spinning up,
the plugins I'm loading) and it is now (possibly) intermittent rather
than deterministically always happening, but it used to always

[2013-01-04 14:10] FinchPowers opened #197 "Add node - OGS installation failed"
RemoteCommandFailed: remote command 'source /etc/profile && cd /opt/sge6 && TERM=rxvt ./inst_sge -x -noremote -auto ./ec2_sge.conf' failed with status 2:
can't get hostname of this machine. Installation failed.
error resolving local host: can't resolve host name (h_errno = HOST_NOT_FOUND)

Then the "add node" process went on, but failed.

[2013-01-04 16:00] #119 closed, assigned to nobody

[2013-01-04 16:21] jtriley commented on #121
[code]

[2013-01-04 16:30] #121 closed, assigned to nobody

[2013-01-04 17:13] jtriley commented on #159
This should be fixed in the next 0.94 release. Fix has been merged to the develop branch.

[2013-01-04 17:13] #159 closed, assigned to nobody

[2013-01-04 17:15] jtriley commented on #99
@jbheman My apologies for losing track of this. I'm not able to reproduce this so I'm going to close the issue. It might be possible that you're unknowingly using different usernames for each cluster. Please reopen if you're still having this issue.

[2013-01-04 17:15] #99 closed, assigned to nobody

[2013-01-04 17:26] jtriley commented on #174
My apologies for losing track of this. The issue is that StarCluster cannot login as root most likely due to your AMI being configured to disallow root login over SSH by default. Depending on which AMI you were using the fix may vary.

Most Ubuntu/Redhat based AMIs by now use cloudinit. IIRC by default cloudinit modifies root's authorized_keys to disable SSH login for root. If in fact your base AM

[2013-01-04 17:26] #174 closed, assigned to nobody

[2013-01-04 18:04] #144 closed, assigned to nobody

[2013-01-04 18:04] jtriley commented on #144
My apologies for taking forever on this, Thanks again for reporting!

[2013-01-04 18:07] jtriley commented on #106
@jschug are you still having this issue?

[2013-01-04 18:11] jtriley commented on #150
This should be closed when #182 gets merged

[2013-01-09 14:14] FinchPowers commented on #192
It happened again last night. I'll make a timeout for this.

[2013-01-09 18:35] somerandomsequence commented on #193
Sorry for the delayed response, I was travelling for the holidays and
didn't have a computer handy.

I moved the cluster by: 1) creating an AMI for each cluster node (and the
client node) 2) sharing those AMIs with the new account 3) instantiating
them in the new account, and carefully copying the user data, tags, and
security group configuration 4) re-creating the EBS volumes (with the same
names

[2013-01-10 19:23] nehald opened #198 "Problem using loadbalancer with mpi"
Hi..
I recently had a problem using the loadbalancer with mpi.
Here's what I did:
1.  Start a cluster with 2 nodes
2.  Start the load balancer  -- starcluster loadbalance -m 200 -n 2 -a 4
3.  Submit a 25 (or whatever) proc job to SGE.

In theory the  load balancer should see that I need 25 slots and start allocating
nodes until I get to that number.  Unfortunately, that's not what happens.  The lo

[2013-01-15 15:04] scrappythekangaroo opened #199 "SGEStats.job_multiply in the sge load balancer can bug out on some array jobs"
You can sometimes have array jobs that look like '2,4-10:1'.  job_multiply can't handle this since it's expecting either singleton jobs or array jobs that look like '1-10:1'.

Proposed fix is located here;
https://github.com/scrappythekangaroo/StarCluster/commit/44f66fa3fd2edd034cd85038966d223cf74c26a3

I'm not sure that such behaviour will arise in practice with the current load balancer, but it

[2013-01-18 22:16] jstjohn opened #202 "hs1.8xlarge only mounting 4 of the 24 instance stores"
When I launch an hs1.8xlarge instance, it should have 24 2TB drives available in /dev. However there are only 4 that show up. I confirmed that this is the case with AWS support. When you launch the starcluster AMI from the web console though, it comes up with all 24 drives mounted.

Starcluster or boto must not be doing the same kinds of steps to make sure that all drives that need to be mounted a

[2013-01-18 22:20] jstjohn opened #203 "Properly configure instance stores on different node types"
Starcluster works great, and properly mounts instance stores to `/mnt` when there is precisely 1 volume available. However whenever I mount to a node type with more than 1 volume, such as the `hi1.4xlarge` type which has 2 volumes that should be raided together, I need to do the raiding and everything myself. I suppose that I could do this manually, but it also seems like starcluster might be able

[2013-01-19 20:08] egafni opened #205 "node.get_device_map() is not working"
I've only tested on an m1.large, but its returning an empty dict and /proc/partitions is not empty
# cat /proc/partitions

major minor  #blocks  name

 202        1   10485760 xvda1
 202       17  440366080 xvdb1
 202       33  440366080 xvdc1
 202       49  440366080 xvdd1
 202       65  440366080 xvde1

[2013-01-19 23:47] ogrisel opened #206 "Find a way to skip host key check for the "starcluster sshmaster mycluster" command"
Most of the time the EC2 host for the master node is newly provisioned, hence we get an annoying message such as the following:

[code]

There should be a way to tell paramiko to ignore the host check.

[2013-01-21 18:01] egafni commented on #202
I also ran into this problem, and monkey patched my code to get around this.

The problem is that starcluster.awsutils run_instances is not passing a BlockDeviceMap to boto.ec2.connection.run_instances().

Here's how I modified the awsutils.run_instances method

[code]

Details for the boto side are here: https://groups.google.com/forum/?fromgroups=#!topic/boto-users/7igfHM9CChk

[2013-01-21 18:52] jstjohn commented on #202
Excellent, thanks for the code!

Sent from my iPhone

On Jan 21, 2013, at 10:01 AM, egafni notifications@github.com wrote:

[2013-01-21 19:28] egafni opened #207 "Cannot change SGE plugin order"
If i set plugins = myplugin, sge

sge gets installed twice.  My hope was to be able to run my plugin before sge.

[2013-01-21 19:38] FinchPowers commented on #207
Have you set in the config "DISABLE_QUEUE = True" ?

[2013-01-21 20:35] egafni commented on #202
No problem.  I also just wrote a starcluster plugin to install gluster and setup all the ephemeral drives of the hs1 as a 48TB shared mount point across the cluster.  If you'd like to use it come to the #starcuster channel on irc

[2013-01-21 20:51] jstjohn commented on #202
I would love to use those plugins. I was planning on writing one to do the 48Tb shared mount point thing actually, and I had previously thought about glusterfs and writing up one to do that. I would be interested in hearing how those two styles of storage compare with compute performance, or do you use them both, for different things maybe? I will hop onto IRC whenever I get some spare time over t

[2013-01-21 21:39] egafni commented on #202
Cool, I'm usually idleing in the channel while working (which is most of the time these days).  It'd be nice to have someone else playing with gluster setups as there's lots of configurations to try.  Yesterday I was using it to create a 2TB share on the hi1 SSD instances but decided to move to the hs1 instance today.

[2013-01-21 22:02] egafni commented on #202
Sorry i missed you, i'm erik49

[2013-01-22 15:54] scrappythekangaroo commented on #158
Example code that applies the "fill up host" change here:
https://github.com/scrappythekangaroo/StarCluster/commit/fb545951667d4d413305ef8b61c93ce28d9b062f

[2013-01-22 16:18] jtriley commented on #207
@egafni @FinchPowers is right, you most likely need to set disable_queue = True to disable SGE from being configured by default.

[2013-01-22 16:24] jtriley commented on #206
This isn't from paramiko, it's from the native SSH client. StarCluster uses the native client before the more limited pure-Python/paramiko shell (the paramiko shell is mostly used on Windows). With that said it's generally a bad idea to ignore host key checks. The proper solution is to build and use a separate known_hosts file (e.g ~/.starcluster/known_hosts) that is only populated after the host

[2013-01-22 17:39] ogrisel commented on #206
That sounds good, thanks.

[2013-01-22 19:37] jtriley commented on #207
Please reopen if setting disable_queue = True doesnt fix the issue...

[2013-01-22 19:37] #207 closed, assigned to nobody

[2013-01-22 19:42] jtriley commented on #205
Interesting, looking into this now. Thanks for reporting!

[2013-01-22 19:50] jtriley commented on #203
I think you mean the available ephemeral storage drives right? I think it should be feasible to do this while setting up /scratch (which is just symlinks to /mnt anyway). The code will need to be updated to check whether it has the necessary raid tools to do the job and skip the raid setup if not, otherwise probe and find all available ephemeral drives and raid them on /mnt. Perhaps in the case th

[2013-01-22 22:20] jstjohn commented on #203
Yes I am talking about the ephemeral storage drives. Basically every node type other than the ones with a single drive do not currently get mounted anywhere. And the ones with more than 4 drives you do not even see the remainder of the drives showing up in `/dev` (see my other issue related to the `hs1.8xlarge` instance). Mounting to `/mnt1 ... /mntN` would be reasonable. I think default when you

[2013-01-22 22:41] scrappythekangaroo opened #208 "adding nodes creating repeated entries in ~root/.ssh/known_hosts for master node"
I've noticed that each time I add a node duplicate master entries are created in known_hosts for root user on master node.

A sample fix below which I've only briefly tested:
https://github.com/scrappythekangaroo/StarCluster/commit/012885190ba347917fd23975b23a5c9c7d15dfcb

[2013-01-23 19:17] egafni opened #209 "If SGE Fails to add a node, you cannot remove the node from the cluster"
Note, the add node also failed.  Probably due to an issue with the new HVM AMI

---
## wga_ssd (security group: @sc-wga_ssd)

Launch time: 2013-01-22 10:23:50                                                                                              [0/663]
Uptime: 1 days, 03:50:42
Zone: us-east-1a
Keypair: starcluster
EBS volumes:
    vol-74423f0a on master:/dev/sdf (status: attached)
Cluster n

[2013-01-23 20:12] egafni commented on #209
Here's the fix.  Sorry not sure how to do pull requests yet.
in sge.py:
<pre>
from starcluster.exceptions import RemoteCommandFailed
    def _remove_from_sge(self, node):
        master = self._master
        try:
            master.ssh.execute('qconf -dattr hostgroup hostlist %s @allhosts' %
                               node.alias)
            master.ssh.execute('qconf -purge queue slots all.q@

[2013-01-23 20:28] egafni commented on #209
Ah, the GLIBC error was caused because I was using the Ubuntu 11.04 HVM EBS AMI for the INSTANCE_IMAGE_ID, and grid engine was compiled on 12.04.  There is no 12.04 HVM EBS AMI yet.

[2013-01-23 20:49] egafni opened #210 "InvalidPlacementGroup on add_node"
addnode after removenode is sometimes causing the below error.  It goes away after waiting and trying again and I don't know what's going on.

<pre>
(starcluster_dev)erik@erik-mvb:~/projects/StarCluster_erik$ starcluster an wga_ssd
StarCluster - (http://star.mit.edu/cluster) (v. 0.9999)
Software Tools for Academics and Researchers (STAR)
Please submit bug reports to starcluster@mit.edu

[2013-01-24 07:52] #205 closed, assigned to nobody

[2013-01-24 16:11] jtriley commented on #210
@egafni Interesting, not sure exactly what's up here. I updated the code to log the stacktrace (both to console and debug file) on any uncaught AWS exceptions. Please pull the latest code and if you're able to reproduce the error, post the stacktrace to this issue. Thanks!

[2013-01-24 16:13] jtriley commented on #208
@scrappythekangaroo I'll test this out and merge your fix (provided it fixes the issue of course ;). Thanks for reporting!

[2013-01-24 21:14] egafni opened #212 "node.get_partition_map() returns empty dict"
m.get_partition_map() is returning an empty dict.  You're using fdisk -l but perhaps an easier way to to cat /proc/partitions

m.get_partition_map()
Out[9]: {}

m.ssh.execute('cat /proc/partitions')
Out[10]:
['major minor  #blocks  name',
 '',
 '202        1   10485760 xvda1',
 '202       17 1073741824 xvdb1',
 '202       33 1073741824 xvdc1',
 '202       80  367001600 xvdf',
 '202      112   4194

[2013-01-24 21:45] jtriley commented on #212
those are not partitions, those are devices (see fdisk -l)

[2013-01-24 21:46] #212 closed, assigned to nobody

[2013-01-24 21:48] jtriley commented on #212
Particularly, you should notice that fdisk -l reports that those devices have no partition table. FYI /proc/partitions displays _both_ partitions and devices so just blindly assuming those values are true partitions is incorrect.

[2013-01-24 21:50] jtriley commented on #212
Also, /proc/partitions does not provide the start/end/block count that fdisk does for true partitions. This info is required by the resizevolume command in the case that the original EBS volume has a single partition.

[2013-01-25 19:50] jtriley commented on #203
I think /mnt/ephemeralN in the case that raid tools are not available sounds reasonable, otherwise, we umount /mnt and raid all ephemeral drives there if necessary. This definitely wont make it before 0.94 release but I like this idea and plan to get to it unless someone else beats me to it.

[2013-01-25 19:52] #202 closed, assigned to nobody

[2013-01-29 15:59] mylons opened #213 "fails to create cc1.4xlarge 2 node cluster"
I've only changed the node image and node instance types to be hvm and the cc1.4xlarge. This is a fresh install of starcluster from the git repo via:

sudo pip install git+ssh://git@github.com/jtriley/StarCluster.git

I'm pasting the config just for completeness after the error statement:
# Error

[code]
# Config

[code]

[2013-01-29 20:06] mylons commented on #213
just started testing past commits and narrowed it down to this commit 00c15db26dbdce72ca95f72f379bd0ddac2d61e7

I'm not totally sure what the problem is though -- but after searching for similar errors perhaps a drive being mapped isn't writeable?

[2013-01-30 15:13] jtriley commented on #213
@mylons Thanks for reporting. From my testing, HVM types require ephemeral drives to be mapped to /dev/sd\* instead of /dev/sd*1. Fix coming soon.

[2013-01-31 21:16] nehalecky commented on #173
Thanks for the reply, @jtriley. I wanted to try and get you a solution myself, but just haven't had the time t dig into StarCluster much yet.  I'm hoping that this changes, soon. Thanks, again, for the great package.

[2013-02-01 18:37] lefevrer opened #215 "openMPI doesn't seem to work correctly on ami-c62a25b2 (ubuntu-12.04-x86_64 (EBS) in eu-west-1)"
On ami-c62a25b2, openMPI doesn't seem to work correctly.
Code to produce the unexpected behavior (simple Hello World program in MPI):

[code]

Steps to produce the unexpected behavior:
1. launch two instances with ami-c62a25b2
2. save the code above as "helloworldmpi.c" in /home/sgeadmin
3. run the following lines:

[code]

The output is:

[code]

but should be:

[code]

I don't know if the proble

[2013-02-02 14:33] lefevrer commented on #215
I did some more tests:
- helloworldmpi compiled on ami-ab447bdf always works correctly, even on ami-c62a25b2.
- helloworldmpi compiled ami-c62a25b2 never works correctly.

So, the problem seems to be at the compilation step on ami-c62a25b2 (ubuntu-12.04-x86_64 (EBS) in eu-west-1).

[2013-02-02 17:05] lefevrer commented on #215
Here are some outputs on ami-c62a25b2 (ubuntu-12.04-x86_64 (EBS) in eu-west-1):

[code]

[code]

So, it seems that `mpirun` is well linked to openMPI but `mpicc` is linked to MPICH2. Can you correct that ?

[2013-02-04 18:57] #46 closed, assigned to nobody

[2013-02-04 18:57] #213 closed, assigned to nobody

[2013-02-05 16:22] FinchPowers commented on #189
It's back.

[2013-02-05 16:41] FinchPowers opened #217 "clustersetup.setup_cluster_user tries to delete/replace root user"
Root cannot be deleted and the call fails. I'm not sure if this is because I'm using an AMI that is not properly configured. If so, just close this ticket.

Here is the (slightly extended) stack trace I get when starting the cluster.

[code]

[2013-02-05 18:28] FinchPowers commented on #189
It's now quite clear how it can be possible with the last fix. When I started that cluster, I just had terminated one seconds before. My theory is the following.
1. delete is called
2. starting new cluster
3. create is called
4. verification works, but because the delete call did not propagated yet
5. delete propagates
6. we get the error I just posted because the new create call did not propagate

[2013-02-05 19:09] jtriley commented on #217
Woah that's weird, thanks for reporting. Looking into this today.

[2013-02-11 23:22] ro6ert commented on #116
@jtriley It seems that most of the requests for information from the server go though boto's connection.py. The filter values are propagated from the calling functions in starcluster to connection.py in boto. We have written code to manually filter the xml returned by eucalyptus at the boto level and strip it of the "euca:" namespace prefixes so that the returned xml closely resembles the xml retu

[2013-02-12 21:31] twiecki commented on #167
IPython 0.13 is available with the new 12.04 AMI's:

[code]

[2013-02-12 21:31] #167 closed, assigned to nobody

[2013-02-13 17:06] realoptimal opened #222 "update available ami"
allow use of AMIs with latest CDH4 distro

[2013-02-14 02:36] rezuma opened #223 "ERROR - Oops! Looks like you've found a bug in StarCluster"
# The following lines are desirable for IPv6 capable hosts

::1 ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts
# Added by cloud-init

127.0.1.1   domU-12-31-39-09-CD-4F.compute-1.internal domU-12-31-39-09-CD-4F

2013-02-13 17:04:02,146 PID: 14394 node.py:606 - INFO - Starting NFS server on master
2013-02-13 1

[2013-02-20 21:42] applebird opened #225 "issues with scientific linux ami"
Hi, I'm trying to use starcluster to lauch the SL ami with two issues,
1. when starcluster is attaching EBS volume, it's using /dev/sdz and can't mount, inside SL, it's a  different device name, is there a quick way to customize device name?
2. the SL image doesn't delete its root EBS volume upon termination. I saved the ami to a new one where root EBS will be deleted upon termination. When I use

[2013-02-26 17:41] cdoersch commented on #44
Is this being worked on?  I have scripts where a fair amount of temporary data gets shared globally, so the faster I can get the nfs-shared storage to run, the faster everything goes...I would definitely use it.  According to this:

http://bioteam.net/2010/07/boot-ephemeral-ebs-storage-performance-on-amazon-cc1-4xlarge-instance-types/

The fastest storage is ephemeral storage striped into raid0.

[2013-02-28 14:50] FinchPowers opened #226 "Loadbalancer timeout on unexisting node"
It seems that sometimes nodes remain cached somehow. I have an issue where a timeout is caused by unexisting node. Here is part of the content from my debug.log
- It adds node001.
- Existing node returns the list properly with master and node001.
- Thread pool returns an exception on ... node003.

2013-02-28 08:11:18,374 PID: 625 threadpool.py:135 - DEBUG - unfinished_tasks = 1
2013-02-28 08:11:19

[2013-02-28 20:53] jtriley commented on #217
We figured out the issue on IRC ( **#starcluster** ) but detailing the issue here as well for for others that may come across this issue:

When configuring the `cluster_user` StarCluster first checks to see if the user's $HOME folder exists and if so creates the `cluster_user` with the same UID/GID of the existing $HOME folder. If this wasn't the case StarCluster would have to chown potentially th

[2013-02-28 21:16] jtriley commented on #225
@applebird My apologies for the delay. Couple questions:
1. You mentioned it shows up as a different device - what's that device?
2. What is the AMI id you're using? I'll test the AMI myself and see what the issue is with root volume termination and StarCluster. The default StarCluster images are all configured to delete the root volume and they're deleted when StarCluster terminates them so somet

[2013-02-28 22:57] FinchPowers commented on #217
See PR #227

[2013-03-01 16:27] #217 closed, assigned to nobody

[2013-03-07 15:40] jtriley commented on #215
@lefevrer Thanks for reporting and yes I plan to correct this and republish all of the 12.04 AMIs along with a new 12.04 HVM AMI soon.

[2013-03-07 19:21] lefevrer commented on #215
Ok! Thanks for your reply.

[2013-03-09 00:09] adgaudio opened #229 "ipcluster plugin could support cluster-id?"
Hello!

I've recently started using StarCluster with the IPython plugin (from develop branch) and found I wanted to support cases where I can restart the ipcluster on the same ec2 nodes but don't lose currently running tasks.  I modified StarCluster's IPython plugin to support this (linked below) and would love to know if this is worth integrating into the current StarCluster plugin.

**Problem:**

[2013-03-11 11:37] aaravindanarun opened #230 "Build CentOS 6.3 AMI on Amazon AWS"
This is A. Aravindan Arun. For testing purpose i created AMI on CentOS 6.3 (64-bit) Version.
Reference Pages:
https://github.com/jtriley/StarCluster/wiki/centos-5.4-cluster-compute
https://github.com/jtriley/StarCluster/wiki/centos-5.4

and successfully build AMI. Try to launch instance on Amazon using starcluster.
I got error message,

2013-03-11 16:44:47,522 PID: 4369 sge.py:101 - INFO - Install

[2013-03-11 17:58] jtriley commented on #230
It's hard to tell without looking at your AMI but my guess is that you forgot to copy SGE into /opt/sge6-fresh. If you don't need SGE you can simply set `disable_queue=True` in your `[cluster]` config, otherwise, you'll need to rebuild the AMI with the SGE sources copied to /opt/sge6-fresh. You can find these sources on the latest public StarCluster AMIs. HTH

[2013-03-11 18:00] jtriley commented on #223
This looks like an issue with PyCrypto but not sure what the solution is at the moment. Have you tried recompiling/reinstalling PyCrypto? /cc @dlitz

[2013-03-12 01:41] rezuma commented on #223
i will try, thanks.
I didnt have this error on the first machine I installed Starcluster on, so it could be PyCrypto installation.

[2013-03-12 01:46] rezuma opened #231 "Torque instead of Oracle Grid Engine"
For monetary reasons, i cant use Oracle Grid Engine, has anybody try to use OpenPBS as an alternative for load balancer?

Ramon

[2013-03-12 03:16] dlitz commented on #223
That's really strange, and definitely some kind of installation issue.  Maybe you're running an older version of _fastmath.so with a newer version of PyCrypto's .py files?

[2013-03-12 03:52] aaravindanarun commented on #230
Thanks for reply. Built with SGE /opt/sge-fresh folder. Let i try with second options (disable_queue=True).

Please let me know any other document for how to build AMI using CentOS 6.3 64 bit version.

[2013-03-12 12:00] aaravindanarun opened #232 "how to integrate slurm in Starcluster"
I have good experience knowledge in Slurm Cluster. I am interest to learning how to integrate slurm cluster using STARCLUSTER.

Referred Below links.
https://github.com/jlafon/StarCluster/wiki/Getting-Started-with-SLURM-on-Amazon-EC2

But, I got the error message

starcluster start mycluster -c starcluster -s 2
StarCluster - (http://web.mit.edu/starcluster) (v. 0.9999)
Software Tools for Academics

[2013-03-12 18:28] jtriley commented on #223
@dlitz Thanks a bunch for jumping in - I just wanted to make sure this wasn't something you had seen before. My googling didn't seem to turn up anything but you never know. Definitely an issue with the compiled _fastmath.so. For me if I run `nm _fastmath.so` I see the getStrongPrime method:

[code]

Perhaps the compilation step for `_fastmath.so` doesn't cause the entire installation process to fa

[2013-03-14 02:48] rezuma commented on #223
ok.

I think i found the problem, I installed the PyCrypto with yum first.
Then i realized that yum (at least in CentOS) installs the version 2.0.1-22 which is not enough for Starcluster.
Then i downloaded and installed PyCrypto 2.6 with python setup.py.
So at that point they were both installed !!??
Anyway, i uninstalled with yum the 2.0.1 and resintalled 2.6 and now i dont see that error anymore

[2013-03-14 05:42] aaravindanarun commented on #230
I don't want to disable installation of Sun Grid Engine.

Herewith enclosed starcluster log file.

2013-03-14 10:29:19,783 PID: 5238 threadpool.py:135 - DEBUG - unfinished_tasks = 1
2013-03-14 10:29:20,784 PID: 5238 utils.py:93 - INFO - Setting up NFS took 0.063 mins
2013-03-14 10:29:21,043 PID: 5238 sge.py:101 - INFO - Installing Sun Grid Engine...
2013-03-14 10:30:56,094 PID: 5238 **init**.py:53

[2013-03-14 05:58] aaravindanarun commented on #230
Master Node Grid engine service was started without any problem,
ps aux # command
tcp        0      0 0.0.0.0:63231               0.0.0.0:\*                   LISTEN      2492/sge_qmaster

#qhost

## HOSTNAME                ARCH         NCPU  LOAD  MEMTOT  MEMUSE  SWAPTO  SWAPUS

global                  -               -     -       -       -       -       -
master                  -

[2013-03-15 21:15] adgaudio commented on #229
Hello again,

I created a backwards compatible implementation of the above proposed solution to integrate --cluster-id to manage concurrent ipcluster instances.  I created a PR for this here:

https://github.com/jtriley/StarCluster/pull/233

I'd very much appreciate your feedback, as this could be quite useful for others.

Thank you,
Alex

[2013-03-17 19:50] jtriley commented on #223
@rezuma Awesome, glad you got things working. In order to get rid of the warning about libgmp you'll either need to install libgmp or if it's already installed you'll need to upgrade libgmp >= version 5 and then rebuild and reinstall PyCrypto. I'm going to close this issue now. Thanks for following up!

[2013-03-17 19:50] #223 closed, assigned to nobody

[2013-03-18 03:07] jtriley commented on #215
@lefevrer This has been fixed. I deregistered all of the old 12.04 AMIs and published the latest version with the MPI fix and a couple other minor fixes to all AWS regions. The new 12.04 AMIs also have [julialang](https://github.com/JuliaLang/julia) included.

[2013-03-18 03:07] #215 closed, assigned to nobody

[2013-03-18 03:08] jtriley commented on #215
@lefevrer You'll need to update the AMIs in your config with the latest 12.04 AMI ids. You can get them from:

[code]

[2013-03-18 09:20] lefevrer commented on #215
Thanks a lot !

[2013-03-19 00:35] adgaudio commented on #21
Hello @jtriley @locojay,

I think this is would be an awesome feature to have!  I rebased locojay's vpcdev branch against current develop (conflicts manually resolved).  Will be testing it shortly.  @locojay, are you still interested in maintaining this PR?  I'd love to try getting @jtriley to merge it, so if you are still interested in this, let me know!

@jtriley - do you know of any significant

[2013-03-19 02:53] rayrayson commented on #21
@adgaudio - let me know if you want others to do some beta testing. I have never tried locojay's branch before as I always run the latest StarCluster trunk.

Rayson

---

Open Grid Scheduler / Scalable Grid Engine
http://gridscheduler.sourceforge.net/
http://cloud.scalablelogic.com/

[2013-03-19 16:07] adgaudio commented on #21
@rayrayson Thanks!  I'm going to check this out in detail now, so l'll let you know as soon as it's ready for some beta testing.

[2013-03-20 01:58] adgaudio commented on #21
@rayrayson - I have successfully started and terminated multiple clusters in the vpc today!   If you'd like to try beta testing, you can use the code at the link I re-pasted below.  I'll probably make a few more simple changes to simplify one or two parts, but the existing code is generally very good.

https://github.com/adgaudio/StarCluster/tree/vpcdev

I'm not sure how elastic ip assignment work

[2013-03-20 14:53] daskinne opened #234 "Adding Node Failure - exception.InstanceDoesNotExist"
Exception when adding nodes, specifically node003. If node003 is added when the cluster is first created, or in an add node request that contains node001 or node002 at the same time it will complete ok. This problem only occurs when node003 is the first node in the add request.

[code]

Error:

[code]

In both cases the instance comes up shortly after the error so this is likely a problem with clu

[2013-03-21 00:24] adgaudio commented on #21
A second, and perhaps more significant problem I'm experiencing is that security groups can't be deleted without -f option... perhaps due to some bug in AWS where the nodes are stated as terminated but still somehow connected to the security group.  Specifically, calling

[code]

results in the following failure response from Amazon:

[code]

So, what I have to do is follow up with "starcluster te

[2013-03-22 14:35] adgaudio commented on #21
With help from the ops team at my work, we've determined that the above seems like a bug in Amazon, and that the best approach is to wait several minutes before attempting to delete the security group again.

Also, here is a plugin I'm using to change starcluster security group permissions.  It might be useful for anyone else attempting to use StarCluster in VPC: https://gist.github.com/adgaudio/5

[2013-03-24 09:16] amaatouq opened #235 "ipcluster hangs on "Waiting for JSON connector file""
I am using starcluster (v. 0.93.3) with the ipcluster plugin and I never get passed the "Waiting for JSON connector file". I tried to use the development version (v 0.9999), and it worked. However, when I import the  Client from IPython.parallel I get IOError: [Errorno 32] Broken pipe
and then the px magic doesn't work.

Note: I tried various AMI's with the same issues occurring

DEFAULT_TEMPLATE=

[2013-03-25 15:07] adgaudio commented on #235
@amaatouq If you are using 0.9.3, you may want to use the develop version of StarCluster's ipython plugin, since it's very different (and much better).  Basically, all you'd have to do is copy the below file to ~/.starcluster/plugins, and in ~/.starcluster/config do these: set it up as a custom plugin and link to it in "PLUGINS="...

https://github.com/jtriley/StarCluster/blob/develop/starcluster/

[2013-03-25 15:10] adgaudio commented on #229
closing this as it's linked to above.

[2013-03-25 15:10] #229 closed, assigned to nobody

[2013-03-26 06:58] amaatouq commented on #235
@adgaudio I did what you said, and now I get the same problem when using StarCluster (v 0.9999). But now I am using 0.9.3

When I execute:
from IPython.parallel import Client

I get:
Traceback (most recent call last):
  File "/usr/lib/python2.7/logging/**init**.py", line 863, in emit
    stream.write(fs % msg)
IOError: [Errno 32] Broken pipe
Logged from file shellapp.py, line 169

when I execute:

[2013-03-27 07:28] aaravindanarun commented on #230
Try to terminate instance using starcluster command,
I got error message,

[2013-03-27 18:01] adgaudio commented on #235
Are you trying to do this import locally (on your computer, not on the StarCluster node)?  If so, then StarCluster would actually have nothing to do with this problem, and my guess would be that something is wrong with your local IPython installation.  If this is the case, you could consider re-installing or updating IPython (for instance, pip install -U ipython might work).

If you are in fact tr

[2013-03-30 12:52] amaatouq commented on #235
@adgaudio I get the error when I try to import IPython parallel on the StarCluster master node. However, I dont get any errors when I spin up the machines.

I do get a Dead Kernel error as I login to the notebook:
"The kernel has died, would you like to restart it? If you do not restart the kernel, you will be able to save the notebook, but running code will not work until the notebook is reopened

[2013-03-31 17:39] rezuma opened #237 "StartCluster SpoHistory decimal numbers (suggestion)"
starcluster spothistory t1.micro always return 0.00 for current price.

It would be nice if the number of decimal the command line returns is 3 or 4 instead of 2, so the price has a meaning for t1 instances too.
Looking at the function i see it would be not that difficult to implement this
Is there a reason not to do it?

awsutils.py

[code]

[2013-04-01 11:54] aaravindanarun opened #238 "Marketplace AMI terminate / Stop Error"
$ starcluster terminate mycluster

Try to terminate instance using starcluster command,
I got error message,

[code]

[2013-04-01 14:50] daskinne commented on #188
Any update on this getting merged to dev. This would really help me out and seems to be common amongst users. @jtriley  could you please verify.

I will try to contribute more in future. Cheers, thanks @FinchPowers

[2013-04-01 15:17] FinchPowers commented on #188
I haven't seen a recent use of this code on my side as I don't seem to be having unreachable ssh nodes as I used to have. I guess we could work on a manual test that would boot a node an be very impatient regarding ssh timeouts. Say only wait 5 seconds to force the restart/reboot handling. I'll see what I can do.

[2013-04-01 15:26] daskinne commented on #188
@FinchPowers  did updating the python utilities help you to overcome this? I am having pretty severe problems in the automation of startup/teardown. The most significant of these is what to do when I reach 5 min timeout on cluster start or adding nodes.

Currently I either start -x or restart, wait another 5 min, and then terminate and start fresh. This is a huge burden on the system as we're crea

[2013-04-01 15:36] FinchPowers commented on #188
Utilities have no impact on this issue. When I experienced it, trying a direct shell SSH connection timed out just like starcluster/paramiko.

On my branch I have 2 clusters running on the load balancer. One in test for more than a week and one in prod that I've completely let on his own for about 2 months now and have no issues. Take a look at https://github.com/datacratic/StarCluster branch vani

[2013-04-01 15:42] daskinne commented on #188
I will give yours a try and see.

What I am doing is rather different than your 2 month scenario. My application is creating clusters for workload as it comes in. Each task is mapped to a separate on demand cluster to meet security requirements so we have a lot more emphasis on startup and teardown operations being reliable than would otherwise be the case. Sure once the cluster is up it's been ve

[2013-04-01 15:57] FinchPowers commented on #188
Come on IRC channel #starcluster on freenode.

[2013-04-01 20:34] daskinne opened #239 "SSH fails to connect"
If system log has a failed event startup of instance will hang. AWS console marks as instance running even though SSH will not be possible until instance reboot.

Starcluster will continue to refresh ssh connection to no avail.

This was likely the cause of many user's frustration with SSH step of cluster creation.

TODO: check system log for failed events or set a max number of ssh retry before r

[2013-04-01 20:41] daskinne commented on #239
https://github.com/jtriley/StarCluster/issues/188

This would be fixed by merging this bugfix

[2013-04-01 21:06] daskinne opened #240 "LoadBalancer:get_stats fail on first job"
Remove QACCT if stats (SGEStats) is on_first_job

Will allow get_stats to return the available stats including queue status.

[code]

[2013-04-01 21:08] daskinne commented on #240
Proposed fix:

[code]

[code]

[code]

[2013-04-02 10:23] scrappythekangaroo commented on #234
I've also encountered this problem recently (in v. 0.93.3).  Haven't had a chance to look deeper yet since it's only coming up intermittently (latest occurrence was with node005).   The temporary fix I have at the moment is to manually terminate the node from the AWS console and try adding again with starcluster.    Since none of the starcluster plugins have been run yet for the failed add node op

[2013-04-02 11:00] scrappythekangaroo commented on #234
I also got something a little bit different, but appears to be related

This means the problem may have wider implications than just cluster->wait_for_ssh.  Maybe there is some latency on the AWS side or a bug in boto.... I'm not familiar enough with this part of the code.

I can confirm that this instance did appear in the AWS console though instance name field was left blank, thus the bug.

[2013-04-02 20:39] scrappythekangaroo commented on #234
Should also add, instead of doing terminate from the Amazon console, you can probably just run

starcluster addnode -x -a mynode1,mynode2,mynode3 mycluster

as shown in the cli help.

[2013-04-02 21:05] daskinne opened #241 "Environment Variables - Set on Create"
I am considering writing a plugin that allows setup of environment variables at boot from a config file.

If anyone has already done this please post in response.

[2013-04-03 16:02] daskinne commented on #240
@jtriley :+1:  This is fixed in FinchPowers vanilla improvements. Please arrange a pull for the change below to qacct. Adding handling for no history. Thanks, David

[code]

[2013-04-03 21:37] daskinne commented on #234
@scrappythekangaroo
I have had a lot of problems with 93.3

I suggest you fork https://github.com/datacratic/StarCluster
and join in testing this with me if you are able.

[2013-04-04 08:17] scrappythekangaroo commented on #234
thanks @daskinne I have a fork of 0.9999 which we've been testing so I can already appreciate the many improvements.

I've also been following  https://github.com/datacratic/StarCluster though have not made a fork of this repos.  Would be happy to join in testing when I have the chance.

[2013-04-08 02:37] opoplawski opened #243 "Fedora packaging issues"
Couple of issue arose while packaging StarCluster for Fedora:
- Source is mising the LGPL header in almost all .py files.  The header really should be present in all source files.
- StarCluster bundles iptools and optcomplete, which Fedora forbids.   Please consider using them as you do other dependencies.
- StarCluster states explicit version requires for modules it uses, which really isn't compa

[2013-04-24 13:34] scrappythekangaroo commented on #44
I have a plugin doing this.  It's not very optimal use of the ephemeral storage (since it ignores that on the non-master nodes) but does the trick for now.  I prefer @jtriley's suggestion as a long term solution.   Using glusterfs or something similar to use ephemeral storage of all nodes would be awesome.

[code]

[2013-05-06 14:11] dshafer opened #244 "Documentation needs to mention that environment variables can override config file."
I set up starcluster for a personal project using the provided walkthroughs, and have had a great experience using it so far.  However, I was surprised to find that my running instances showed up under my employer's AWS console instead of my personal account console.  AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY, and AWS_USER_ID in ~starcluster/config are all configured for my personal account.  I use

[2013-05-09 20:06] opoplawski opened #245 "Are the python package version requirements correct?"
In current git, StarCluster specifies the following requirements:

[code]

Are these version requirements truly accurate?  I'm looking at package for Fedora and EPEL.  In Fedora Rawhide we only have boto 2.6.0.

I'd also like to try to get it working on RHEL6 where we have:

[code]

Any chance of that?

[2013-05-16 17:07] tyleha opened #248 "IPython Parallel load balance non-functional on starcluster, simply allocates all jobs at once"
Using the ipcluster plugin for starcluster, I have been unable to successfully use IPython's scheduler load_balanced_view(). On a local cluster, the load balance means that the scheduler holds all jobs and queues them at each cluster engine only when that cluster has finished its current job.

However, when I apply jobs to a starcluster cluster view as below, all jobs are simply queued at once in

[2013-05-17 16:23] revoltek opened #249 "TaskRecord key 'started' not set"
The TaskRecord key 'started' is set only when the job is completed and not when it actually starts.

Here for example a job is running but I cannot recover when it started:

[code]

[2013-05-18 23:39] egafni opened #250 "documentation error"
http://star.mit.edu/cluster/docs/0.93.3/manual/volumes.html

documentation uses [vol ..] instead of [volume ...]

[vol ...] is not recognized by starcluster

[2013-05-21 21:41] sebastien-bratieres opened #251 "ssh on windows"
starcluster install under Windows 8, following install guidelines in documentation.
the Python ssh emulator seems to produce garbage (or be incorrectly configured). I'm using Windows 8's cmd command window.

C:\starcluster>starcluster sshmaster mycluster
StarCluster - (http://web.mit.edu/starcluster) (v. 0.93.3)
Software Tools for Academics and Researchers (STAR)
Please submit bug reports to starc

[2013-05-22 08:12] pczhang opened #252 "modify nfs code"
Hi,

I am using arch linux, which uses systemd by default. Is there a recommended way to change nfs related code other than hacking DefaultClusterSetup directly? Could we move nfs to plugin?

Thanks,
Peng

[2013-05-23 17:25] sebastien-bratieres opened #253 "newly created EBS volums won't attach"
Using Starcluster under Win Enterprise 8. Followed documentation instructions to install.
Illustrating error below: create new volume, edit config file to have volume attached to new cluster, start cluster: volume will not be attached, error.
Workaround: attach manually, see below.

NOTE: nodes added later on will mount the volume find, ie not exhibit the error encountered on starting the cluster.

[2013-05-23 17:26] sebastien-bratieres opened #254 "sshmaster under windows won't work"
Windows 8 Enterprise. Using cmd.exe from Windows as the command shell.

Workaround: Putty.

C:\Users\bratieress>starcluster start -c testcluster mytestcluster
StarCluster - (http://web.mit.edu/starcluster) (v. 0.93.3)
Software Tools for Academics and Researchers (STAR)
Please submit bug reports to starcluster@mit.edu

============ ssh to master node ===============

C:\Users\bratieress>starcluster

[2013-05-28 18:56] jtriley commented on #249
I think you meant to post this to the https://github.com/ipython/ipython issue list so I'm going to close this for now. If this is an issue with the IPython plugin for StarCluster please repoen and provide more details. Thanks!

[2013-05-28 18:56] #249 closed, assigned to nobody

[2013-06-04 11:51] aaravindanarun opened #255 "Marketplace AMI terminate / Stop Error"
$ starcluster terminate mycluster

Try to terminate instance using starcluster command,
I got error message,

[code]

[2013-06-04 15:08] yairmov commented on #33
How does the SPOT_BID parameter in the config file affects this? I have a config file where the SPOT_BID is uncommented, and CLUSTER_SIZE = 1 just for the use case described above. The idea is to add spot nodes when needed. But the master node is launched as spot.
Should I comment the SPOT_BID parameter, and add a -b flag when adding worker nodes?

[2013-06-07 06:10] aaravindanarun opened #256 "Auto Scaling not working when disabling job execution on master node"
Built own customized AMI on CentOS 6.3 64 bit, I tried enabled load balancer option with disabling job execution on Master Node.

[2013-06-07 12:24] aaravindanarun opened #257 "problem to Mount EBS Volume using starcluster on CentOS"
Built new customized AMI on CentOS 6.3 Version - 64 bit. try to mount EBS volume While start starcluster, Starcluster try to mount as a /dev/sdz & /dev/sdy. On CentOS logical mount name is /dev/xvdza and /dev/xvdyb.

Starcluster tool not able to identified logical name of EBS volume on CentOS. So EBS volume not able to mount.

[2013-06-11 05:14] aaravindanarun opened #258 "Problem to create customize EBS IMAGE (AMI) using starcluster"
Problem to create own customize EBS (AMI) using Starcluster. Installed required tools  on CentOS 6.3 - 64 Bit Version.
1. starcluster start -o -s 1 -i t1.micro -n ami-6f92dc3d imagehost

## 2. starcluster listclusters --show-ssh-status imagehost
## imagehost (security group: @sc-imagehost)

Launch time: 2013-06-11 10:26:54
Uptime: 0 days, 00:05:16
Zone: ap-southeast-1a
Keypair: starcluster
EBS vol

[2013-06-11 05:16] aaravindanarun opened #259 "Problem to stop/terminate running instance using starcluster tool"
1.starcluster stop imagehost

StarCluster - (http://web.mit.edu/starcluster) (v. 0.9999)
Software Tools for Academics and Researchers (STAR)
Please submit bug reports to starcluster@mit.edu

Stop cluster imagehost (y/n)? y

[2013-06-18 16:51] #69 closed, assigned to nobody

[2013-06-20 15:35] jtriley commented on #258
@aaravindanarun Thanks for reporting. FYI the AMI you created (ami-c1ce8093) should work fine. The ebsimage failed at the step where it simply waits for the snapshot to finish before returning given that the AMI isnt really ready until the snapshot's status is at 100%.

With that said there was an issue here fetching the block device mapping for some reason - will likely need to update the code to

[2013-06-20 18:41] ogrisel opened #261 "Failure to terminate spot instance cluster on ap-southeast-1"
I am not sure whether this is related to the use of spot instance of not, but I get the following error:

[code]

[2013-06-21 04:20] aaravindanarun commented on #258
Thanks for reply,  I would like to inform my Root_volume is not /dev/sda1,

My root Volume name is /dev/sda --> but starcluster dedicated /dev/sda1 wrong.

---------- CRASH DETAILS ----------
COMMAND: starcluster ebsimage i-d9eb1c8f GE_SGE_NoInstanceStore
2013-06-11 10:38:33,493 PID: 6065 config.py:551 - DEBUG - Loading config
2013-06-11 10:38:33,494 PID: 6065 config.py:118 - DEBUG - Loading file:

[2013-06-21 04:37] jtriley commented on #261
Thanks for reporting fixing this now.

[2013-06-21 05:16] #261 closed, assigned to nobody

[2013-06-21 09:12] ogrisel commented on #261
Thanks!

[2013-06-21 10:39] ogrisel commented on #248
By default the scheduler config should hold the tasks, but maybe the greedy assignment is triggered as a side effect of something else?

Here is the doc: http://ipython.org/ipython-doc/dev/parallel/parallel_task.html#greedy-assignment

Maybe you could try to configure it explicitly?

[2013-06-21 18:50] jtriley commented on #259
Duplicate of #238 - looking at #238 now

[2013-06-21 18:50] #259 closed, assigned to nobody

[2013-06-21 18:55] jtriley commented on #238
@aaravindanarun Which marketplace AMI are you using?

[2013-06-21 18:59] jtriley commented on #256
@aaravindanarun _Please_ post the entire command you ran and not just snippets of the output. Also I'm not really sure what the actual problem here is given that there's not enough details. Are you sure you disabled master because it looks like you have 1 execution host in the cluster. How many nodes are in the cluster? How many jobs do you have queued? What is the expected behavior? More details

[2013-06-21 19:00] jtriley commented on #255
Another duplicate of #238. _Please_ stop duplicating issue reports.

[2013-06-21 19:00] #255 closed, assigned to nobody

[2013-06-21 19:03] jtriley commented on #240
Fixed by b3a418b58badff90d4d80e446a2c6bbceb49ca47

[2013-06-21 19:03] #240 closed, assigned to nobody

[2013-06-21 19:07] jtriley commented on #230
It looks like you were able to successfully get SGE running on your AMI so I'm going to close this. For future details on the AMI please look at the build script https://github.com/jtriley/StarCluster/blob/develop/utils/scimage.py. I'm working on #238 now.

[2013-06-21 19:07] #230 closed, assigned to nobody

[2013-06-21 19:16] jtriley commented on #232
Slurm is not yet supported by StarCluster. Those instructions you linked and the Slurm plugin were created by @jlafon so please file Slurm plugin issues on @jlafon's fork for now. Reading those instructions your first issue is that you're not using @jlafon's fork of StarCluster which is why the plugin cannot be found.

[2013-06-21 19:16] #232 closed, assigned to nobody

[2013-06-24 05:54] aaravindanarun commented on #232
Thanks for reply, Time being i am dropped my plan to integrate slurm on StarCluster.

[2013-06-24 05:58] aaravindanarun commented on #256
Ignore Master node from exection node on Starcluster tools - load balance.

[code]

[2013-06-24 06:13] aaravindanarun commented on #238
Starcluster try to detach OS Volume before instance stopped state

Actually, instance root volume name is /dev/sda, but starcluster getting /dev/sda1. So problem was started, starcluster assuming OS Root Volume consider as another external volume. So try to unmount OS Volume.

In node.py file declare variable value is /dev/sda.

[code]
-        self.instance.root_device_name = '/dev/sda'
       re

[2013-06-24 06:15] aaravindanarun commented on #257
I am agree this problem coming from CentOS 6.0 to 6.3 latest kernels. So, i am updated kernel and problem was fixed.

[2013-06-24 06:15] #257 closed, assigned to nobody

[2013-06-24 06:16] #256 closed, assigned to nobody

[2013-06-24 06:18] aaravindanarun commented on #238
Please give me right solution of this problem. Time being i able to manage with previous mail thread solution

[2013-06-24 08:22] szs8 opened #262 "Support EBS optimized instances"
It would be nice if StarCluster had the ability to launch the master node as an EBS optimized instance.

[2013-06-24 18:15] jtriley commented on #33
@yairmov The master node will always be launched as a flat-rate instance unless you set FORCE_SPOT_MASTER=True in your config OR use --force-spot-master command line option to 'start' command. The SPOT_BID config setting simply declares what the default spot bid will be when requesting spot nodes. You can always override your SPOT_BID config setting using the '-b' flag when adding nodes.

[2013-06-24 18:16] jtriley commented on #33
@yairmov Keep in mind that if you specify SPOT_BID in your cluster config then any cluster started with that config will always use spot instances.

[2013-06-24 18:21] yairmov commented on #33
Thanks for the info. From what I understand from your comment the master is always launched as a flat-rate (unless specifically forced not to). I might be doing something wrong without realizing it, but when I run a cluster with 1 node (master only) and the config file has the SPOT_BID flag uncommented, the master is run as a spot node. As a work around I commented out SPOT_BID, launched a single

[2013-06-24 19:38] jtriley commented on #238
@aaravindanarun If you have an instance of the marketplace AMI running can you please attach the output of:

[code]

[2013-06-24 19:40] jtriley commented on #238
Basically if that command returns `/dev/sda` and _not_ `/dev/sda1` then I have a fix ready to go.

[2013-06-25 04:44] aaravindanarun commented on #238
This command executed in master instance,

$ GET http://169.254.169.254/latest/meta-data/block-device-mapping/root
/dev/sda1

[2013-06-25 12:06] aaravindanarun commented on #238
Created and registered new AMI, In this AMI root_device_name is /dev/sda1. After update patches on node.py file.

I am getting error message -->
 starcluster start smallcluster
StarCluster - (http://web.mit.edu/starcluster) (v. 0.9999)
Software Tools for Academics and Researchers (STAR)
Please submit bug reports to starcluster@mit.edu

In Log file,

2013-06-25 17:27:43,102 PID: 31971 config.py:551

[2013-06-25 15:28] #237 closed, assigned to nobody

[2013-06-25 15:48] jtriley commented on #258
@aaravindanarun FYI, /dev/sda1 is what the root device _should_ be:

http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/block-device-mapping-concepts.html#ami-block-device-mapping

(see "Specifying a Block Device Mapping")

In _any_ case the AMI's root device name needs to match the real root device (in your case /dev/sda) in order for any EC2 tool to inspect what the real root device is without c

[2013-06-25 18:00] jtriley commented on #245
@opoplawski I tend to keep up with latest paramiko/boto because they often have bug fixes that are valuable and in general I prefer folks to use the latest versions of the deps when easy_install'ing. With that said those versions of the deps should work in theory but you will need to patch setup.py and downgrade the requirements. Is that an issue for you on the RHEL6 packaging side?

[2013-06-25 20:39] jtriley commented on #238
When you create the AMI you need to make sure that the root device name matches the block device mapping - this is what's causing the entire issue both with ebsimage command and with stop/terminate. I have another fix coming that tries to handle AMIs with broken root device info.

With that said, the IncompatibleCluster issue is really strange and I'm not sure how that happened. Looking at the cod

[2013-06-26 05:23] aaravindanarun commented on #238
Thanks for reply, Thanks for providing Amazon AWS reference link.

I am tested switch root device name from /dev/sda to /dev/sda1 - without update any patch the starcluster was working stop and terminate running instance on CentOS AMI.

I assumed CentOS Marketplace AMI root device name is /dev/sda.
An idea to switch the root device from /dev/sda to /dev/sda1 on using CentOS Marketplace AMI. It's d

[2013-06-26 05:40] aaravindanarun commented on #258
Thanks for reply, Thanks for providing Amazon AWS reference link.

I am tested switch root device name from /dev/sda to /dev/sda1 - without update any patch the starcluster was working stop and terminate running instance on CentOS AMI.

I assumed CentOS Marketplace AMI root device name is /dev/sda.
An idea to switch the root device from /dev/sda to /dev/sda1 on using CentOS Marketplace AMI. It's d

[2013-06-26 07:02] aaravindanarun opened #263 "how to use ephemeral Storage on Cluster Environment using Starcluster"
How to use ephemeral Storage instead of EBS Volume.

My requirement is use (EBS / ephemeral) storage for temporary purpose to analysis big data. Once output file is generated by tools, push output file into S3 bucket permanently.

If possible to use ephemeral storage with RAID0 (striped multiple ephemeral storage).

[2013-06-26 09:29] aaravindanarun opened #264 "How to create IOPS EBS volumes, IOPS support upto 4000"
Use standard EBS volumes. The Standard EBS Volume is very slow for us.

We have an application more I/O-intensive and I/O portion seems to be slowing down more number of nodes execution on same time.

How to create provisioned IOPS EBS volumes.

This is help to increase faster than standard EBS volumes

[2013-06-26 14:32] cl-s opened #265 "Issues launching clusters in region eu-west-1"
When attempting to launch instances in region eu-west-1 in v0.9999 of StarCluster starcluster start hangs at the step detailed below:

<pre><code>
$ starcluster start testcluster1
StarCluster - (http://star.mit.edu/cluster) (v. 0.9999)
Software Tools for Academics and Researchers (STAR)
Please submit bug reports to starcluster@mit.edu

Reservation:r-3da81077

</code></pre>

On checking the EC2 Man

[2013-06-26 15:58] jtriley commented on #238
@aaravindanarun Glad you got this figured out. I'm not surprised that after you fixed the AMI these patches were not needed. As I mentioned this issue is entirely based on the fact that the AMI's root device name does not exist in the image's block device mapping. I'm going to go ahead and implement my fix (I accidentally closed #238 instead of #258) that tries to handle this for the case that /de

[2013-06-26 16:00] jtriley commented on #258
Closed by 75b9252

[2013-06-26 16:00] #258 closed, assigned to nobody

[2013-06-26 16:09] jtriley commented on #265
Please clarify what makes it 'clear' that they're not configured properly.

Also, I just successfully started a 12.04 cluster in eu-west-1 with the following command:

[code]

I'll try to permanently set the region in the config and see if I can reproduce your issue.

[2013-06-26 16:17] jtriley commented on #265
I just updated my config to use the eu-west-1 region by default and I was able to start a 1-node t1.micro cluster using 12.04 AMI ami-6c3a2f18 with a simple start command:

[code]

At this point I'm interested to hear more details about your findings in AWS console...

[2013-06-26 17:15] cl-s commented on #265
When attempting to create a new cluster using the configuration file I pasted in my first post starcluster start halts at the line:

<p><code>>>> Waiting for instances to activate...\</code></p>

At this stage I can see in the EC2 Manage window that the cluster images have been created thusly:

![selection_055](https://f.cloud.github.com/assets/4836181/710771/d0c660cc-de82-11e2-8e19-a75013d4ac46.p

[2013-06-26 19:34] #238 closed, assigned to nobody

[2013-06-26 19:52] jtriley commented on #265
@cl-s What does listclusters say?

[code]

[2013-06-26 20:02] jtriley commented on #198
Closed by 8fa8dfe90dca1366b8411b5d4e9a3feb96bdf746

[2013-06-26 20:02] #198 closed, assigned to nobody

[2013-06-27 02:11] izharw commented on #265
I'm having the same problem with us-west-{1,2}. See my post to the mailing list http://star.mit.edu/cluster/mlarchives/1754.html

[2013-06-27 08:13] cl-s commented on #265
When the start function stalls <code>$ starcluster listclusters</code> shows the following:

<pre><code>-------------------------------------
eutest (security group: @sc-eutest)
-------------------------------------
Launch time: N/A
Uptime: N/A
Zone: N/A
Keypair: N/A
EBS volumes: N/A
Cluster nodes: N/A
</code></pre>

[2013-06-27 08:43] cl-s commented on #265
@izharw I can confirm that I also seem to have the same problem when attempting to start clusters in the us-west-1 and us-west-2 regions.

I have tested in the eu-west-1 region with the following AMIs:

<pre><code>32bit Images:
-------------
ami-06674b43 us-west-1 starcluster-base-ubuntu-12.04-x86 (EBS)
64bit Images:
--------------
ami-02674b47 us-west-1 starcluster-base-ubuntu-12.04-x86_64 (EBS)

[2013-06-28 13:39] jtriley commented on #265
This is really strange. What does listinstances report?

[code]

[2013-06-28 13:51] cl-s commented on #265
Having started a one node <code>t1.micro</code> cluster in region <code>us-west-2a</code> and <code>ami-0a6afe3a</code> I get the following output from running <code>$ starcluster listinstances</code>:

<pre><code>$ starcluster listinstances
StarCluster - (http://star.mit.edu/cluster) (v. 0.9999)
Software Tools for Academics and Researchers (STAR)
Please submit bug reports to starcluster@mit.edu
i

[2013-06-28 13:58] izharw commented on #265
I'm launching the cluster with:

[code]

Then, listintances actually shows me the instance...

[code]

[2013-06-28 17:07] opoplawski commented on #245
Yeah, I can patch things to use the versions in EL6 - hopefully it will work okay.

[2013-06-28 17:07] #245 closed, assigned to nobody

[2013-06-30 05:56] jtriley commented on #196
@derkuci Your patch assumes the user already exists, however, at this point the user has yet to be created so getpwnam is not useful in this context.

The existing code tries to be 'smart' about how it creates the user by paying attention to whether the user's `$HOME` directory exists (in the usual location `/home`) and what UID/GID numbers are assigned to it. Assuming the user's `$HOME` folder in

[2013-06-30 05:56] #196 closed, assigned to nobody

[2013-06-30 06:39] jtriley commented on #199
Thanks for reporting and sorry for the delay. I recently refactored the job_multiply function to _count_tasks when I improved qstat parsing in ee5d62441b0b785fcf689e1c6096b4521c78c959. In this refactor I added support for the case that the 'tasks' output from qstat was a list of ids but not a list of ids AND range specifications mostly because I hadn't come across that output before. In any event,

[2013-06-30 06:42] #199 closed, assigned to nobody

[2013-06-30 06:45] jtriley commented on #11
OpenBLAS is now included in the latest 12.04 StarCluster AMIs and replaces ATLAS. See:

[code]

[2013-06-30 06:45] #11 closed, assigned to nobody

[2013-06-30 22:05] satra opened #267 "Connection Error certificate verification failed"
getting a connection error with the latest git version of starcluster.

[code]

[2013-07-01 14:35] jtriley commented on #267
I see this from time to time myself - doing a bit more research I found this:

http://stackoverflow.com/questions/13321302/python-foursquare-ssl3-certificate-verify-failed

Turns out @ogrisel commented that it worked for boto as well. Perhaps boto simply needs a newer cacerts? What version of boto are you using btw?

/cc @garnaat

[2013-07-01 15:21] jtriley commented on #265
OK, listinstances is showing that the instance doesn't belong to any security group which is strange/should be impossible. Take a look at the AWS EC2 console and see if it lists the instance's security group. Also, just so we're on the same page, are you using the latest version of the develop branch in the main repo or are you using someone else's fork of StarCluster?

[2013-07-01 15:57] ogrisel commented on #267
Yes I indeed had to update my cacerts.txt in the boto folder to make StarCluster work again. In my case I currently have boto 2.9.6.

[2013-07-01 16:01] jtriley commented on #267
@ogrisel It wouldn't work _at all_ without an update to cacerts.txt? For me this only happens once in a blue moon...

[2013-07-01 16:02] satra commented on #267
thanks. that works like a charm - i was using boto 2.9.6 as well.

for me every call on os x box was stalling, prior to the change.

[2013-07-01 16:18] cl-s commented on #265
Ok, I have tested again with the EU servers so I can show you whats listed in the AWS EC2 Console for a given test run.

In this example I have run: <code>$ starcluster start eutestcluster</code> with the following config file:

<pre><code>####################################
## StarCluster Configuration File ##
####################################
[global]
# Configure the default cluster template

[2013-07-01 16:55] ogrisel commented on #267
@jtriley yes I could no longer use boto and StarCluster prior to updating the certificates.

[2013-07-01 19:03] jtriley commented on #267
Wow, that's a major issue. I've pinged folks on #boto IRC - we'll see what they say. My guess is we need a PR for boto to update the cacerts file but there may be a larger issue here with system certificates.

[2013-07-01 19:10] jtriley commented on #265
@cl-s Sorry I meant check the EC2 management console to see what security group the instance is assigned to. You need to look at the list of instances to get this info not the list of security groups.

I can see that StarCluster is able to create the security group for you as expected but for some reason instances are not being assigned to that security group so I'm curious which group the instanc

[2013-07-01 22:06] jtriley commented on #265
By the way, I'm on #starcluster on freenode IRC if you'd like to up the bandwidth.

[2013-07-01 22:32] jtriley commented on #267
@ogrisel For the sake of fixing the bigger issue would you mind reproducing this issue and then running:

[code]

Then look for SSL lines in `$HOME/.starcluster/logs/aws-debug.log` like:

[code]

As you can see my cacerts.txt within boto works fine but I'm guessing for you there's an error in the logs that should help get to the bottom of this. Please paste any relevant lines from that file but be

[2013-07-01 22:37] jtriley commented on #267
@ogrisel @satra What OS version are you running into this issue on? Do you have this issue on other machines with a different OS? The crash report has the exact details if you still have it. Thanks.

[2013-07-01 22:46] satra commented on #267
here you go and i'm running on osx 10.8.4 and this repeats a few times.

[code]

[2013-07-01 23:00] jtriley commented on #267
@satra Thanks unfortunately that doesnt tell us much. Also do you have a `$HOME/.boto` by chance?

[2013-07-01 23:13] satra commented on #267
no `$HOME/.boto` but i can replicate the previous error in: boto/boto#1535 with either ec2 on east or west

[code]

[2013-07-02 08:50] cl-s commented on #265
I have just rerun the above configuration but now with name <code>eutestcluster1</code> rather than <code>eutestcluster</code> as before. Again I get all the same behaviour but I can now show you the instance description from the EC2 Management Console:

![selection_057](https://f.cloud.github.com/assets/4836181/735434/161f2026-e2f4-11e2-96d2-e5242b2df315.png)

I should also be on your IRC Channel

[2013-07-02 15:33] freyes commented on #188
I've been suffering this bug, it's hard to recover from this, because we use [Celery](http://celeryproject.org/) and we have to monitor long running tasks to detect this problem.

[2013-07-02 15:41] freyes opened #268 "Add nodes operation fails due to delay in AWS"
Steps to reproduce:
- Create a cluster called "some-cluster" with 1 node (master)
- Add 2 nodes to it

  starcluster addnode -n 2 some-cluster

Expected Results:
- Two nodes are added to the cluster

Actual Results:
- An error is raised, because the recently launched instances aren't found in AWS, see log:

[code]

This is a very common situation in AWS since a few months ago (create resource, ask

[2013-07-03 14:21] cl-s commented on #265
An interesting side note (which may or may not help track down the issue here):

Running the following command for me results in the same behaviour as described above:

<pre><code>$ starcluster createvolume --name=rshared 50 eu-west-1a --image-id=ami-6c3a2f18
StarCluster - (http://star.mit.edu/cluster) (v. 0.9999)
Software Tools for Academics and Researchers (STAR)
Please submit bug reports to sta

[2013-07-06 09:35] syoyo commented on #265
I've faced similar problem in tokyo region(ap-northeast-1), and the problem is filter tag used in boto in listing up running instances.

Here's my fix.

https://github.com/syoyo/StarCluster/commit/4117c7d4ef57a640077ca68d0defa2fc1e7cc5df

Hope this helps.